<div class="sign-up-content" >
  <section class="px-md-5 mx-md-5 dark-grey-text">

    <!--customize profile section-->
    <div class="container-fluid">
      <div class="row">
        Wanna cutomize?
      </div>
    </div>

    <!--profile header-->
    <div class="container-fluid">
      <div class="row">
        featured image
      </div>
      <div class="row">
        <div class="col-md-3">
            <img src="./assets/images/merchant/user.jpg" alt="Merchant Pic" class="img-thumbnail" height="80px" style="border-radius:50%;">
        </div>
        <div class="col-md-9">
          <h2 class="txt-title"> Chiran's Business </h2>
        </div>
      </div>
      <hr>

      <!-- profile content-->
      <div class="container-fluid">
        <div class="row">

          <!--left content-->
          <div class="col-md-8">
            left content
          </div>

          <!--right content-->
          <div class="col-md-4">
            right content
          </div>
        </div>
      </div>

    </div>


    </section>
  </div>
