.pd-top-min{
  padding-top:5%
}

.pay-amt{
  font-weight:bold;
  text-align:center;
  font-size:34px;
  color:darkslategrey;
}

.overdue{
  color:darkred;
  text-align:center;
}

.pay-text{
  text-align: center;
}

.pay-date{
  text-align: center;
  font-weight:bold;
  color:darkslategray;
  padding-bottom:20px;
}

.pay-btn{
  text-align:center;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
