<div class="container-fluid" *ngIf="!editmode && !removed && !orderUser && product">

  <div class="row f-image">

    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100" >
          <img class="d-block w-100" [src]="product.image_01 ? product.image_01 : './assets/images/merchant/nopic.png'" alt="Feature Image 2" class="feature-img">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" [src]="product.image_02 ? product.image_01 : './assets/images/merchant/nopic.png'"  alt="Feature Image 3" class="feature-img">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100" >
          <img class="d-block w-100" [src]="product.image_03 ? product.image_01 : './assets/images/merchant/nopic.png'"  alt="Feature Image 4" class="feature-img">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>



  </div>
    <div class="row">
      <div class="col-md-7">
        <div class="content-title">
          {{product ? product.product: '...'}}
        </div>
        <div class="open-stat" *ngIf="product.availability">
          <a mdbWavesEffect role="button" >
          <span><mdb-icon far icon="clock"> </mdb-icon> {{'Available for purchase'}}</span>
          </a>
        </div>

        <div class="open-stat" *ngIf="!product.availability">
          <a mdbWavesEffect role="button" disabled >
          <span style="color:darkred;"><mdb-icon far icon="clock"> </mdb-icon> {{'Not Available Now'}}</span>
          </a>
        </div>

      </div>

      <!--if editb=able by merchant-->
      <div class="col-md-5 edit-cls" *ngIf="isowner">
          <a mdbBtn color="secondary" class="btn btn-md edit-btn" mdbWavesEffect
          (click)="editmode = !editmode">Edit Details</a>
      </div>

      <!--if only shown to users-->
      <div class="col-md-5 edit-cls" *ngIf="!isowner">
        <a mdbBtn color="secondary" outline="yes" class="btn btn-lg book-btn" mdbWavesEffect
        [disabled] = "!product.availability && (product.inventory == 0)" (click) = "orderUser = !orderUser">Order Now</a>
      </div>

    </div>


      <hr>
      <div class="row">
        <div class=" col-md-7 content-text">
          {{product ? product.description: '...'}}
          <br>
          <div class="category">
            <mdb-icon far icon="calendar-alt"></mdb-icon> Categry: {{product ? product.product_category : '...'}}
          </div>

          <div class="category">
            <mdb-icon far icon="calendar-alt"></mdb-icon> Delivery Service: {{getDeliveryService(product.delivery_service)}}
          </div>

          <div class="notify" >
            <mdb-icon far icon="calendar-check"> </mdb-icon> {{(product.pay_on_delivery) ? 'Pay on Delivery Available' : 'Pay Online'}}
          </div>
          <br>
          <div class="notify" *ngIf="isowner">
            <mdb-icon fas icon="bookmark"> </mdb-icon> {{product ? product.no_of_orders: '...'}} Orderes
          </div>
        </div>

        <!--price-->
        <div class="col-md-5">
          <div class="hr-rate">
            <span class="hr-price"> Rs. {{product.price}}</span>
          </div>
          <hr>

          <!--product ratings-->
            <div class="rating">
              <ngb-rating [(rate)]="product.rating" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <br>
              <span class="rating-txt">
                {{product ? product.no_of_ratings : '...'}} Recommended
              </span>
            </div>
          <hr>
          <div class="owner text-center" >
            <span>Owned by {{product ? product.business_name : '...'}}</span>
            <br>
            <a mdbBtn color="secondary" class="btn btn-md" outline="yes" mdbWavesEffect *ngIf="!isowner"
              (click)="showBprofile()" >View Business</a>
          </div>

        </div>
      </div>

      <hr>

</div>





<!--edit product-->
<div class="container-fluid text-center" *ngIf="editmode && !removed && !orderUser && product">
  <div class="center-txt">
    <div class="row">
      <div class="col-md-8">
        <p style="line-height:35px;"> You can change the details of <b>{{product.product}}</b> below.</p>
      </div>
      <div class="col-md-4">
        <a role="button" mdbBtn class="btn btn-sm" color="red" text="white" (click)="removeProduct(product.product_id)"> Remove Product</a>
      </div>
    </div>
   </div>
  <br>
    <form class="service-form" (submit)="updateProduct(editProductForm)" #editProductForm ="ngForm">
      <mat-form-field class="service-full-width">
        <mat-label>Product name</mat-label>
        <input matInput placeholder="Product name here"  required
        [ngModel]="product.product" name="product" #productName="ngModel">
        <mat-error *ngIf="productName.invalid">Please enter product name</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="service-full-width">
        <mat-label >Select Product Category</mat-label>
        <select matNativeControl required
        [ngModel]="product.product_category" name="category" >
          <option [value]="cat.val" *ngFor="let cat of categories" >
            {{cat.val}}</option>
        </select>
      </mat-form-field>
      <br>

      <mat-form-field class="service-full-width">
        <mat-label class="check-label">Product Description</mat-label>
        <textarea matInput rows="5" placeholder="Product Description"
        [ngModel]="product.description" name="description" ></textarea>
      </mat-form-field>
      <br>

      <div class="row">

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label >Quantity Type</mat-label>
            <select matNativeControl required
            [ngModel]="product.qty_type" name="quantity_type">
             <option [value]="qty.val" *ngFor="let qty of quantities" >
               {{qty.val}}
             </option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label>Price(Rs.)</mat-label>
            <input matInput placeholder="Unit Price here" required
            [ngModel]="product.price" name="price" #price="ngModel">
            <mat-error *ngIf="price.invalid">Please enter price </mat-error>
          </mat-form-field>
        </div>
      </div>

      <br>
      <div class="row">

        <div class="col">
            <mat-checkbox class="check-margin"
            [ngModel]="product.availability" name="availability">Available for Sale</mat-checkbox>
        </div>

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label>Quantity</mat-label>
            <input matInput   required type="number"
            [ngModel]="product.inventory" name="inventory" #productInventory ="ngModel" value="0">
            <mat-error *ngIf="productInventory.invalid">Please enter quantity</mat-error>
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <div class="row container-fluid">
          <div class="col-md-6">
            <mat-checkbox class="check-margin"
            [ngModel]="product.pay_on_delivery" name="pay_on_delivery">Pay on Delivery</mat-checkbox>
              </div>
          <div class="col-md-6">
            <mat-form-field class="service-full-width-sm">
              <mat-label >Delivery Service</mat-label>
              <select matNativeControl required
              [ngModel]="product.delivery_service" name="delivery_service">
               <option [value]="del.delivery_service" *ngFor="let del of deliveryServices" >
                 {{del.title}}
               </option>
              </select>
            </mat-form-field>
          </div>
          <br>
          <p class="pay-on-meet"> Note: If <b>Pay on Delivery</b> is selected, <b>no payment</b> will be charged on order. Payment need to be collected manullay. However, <b>system will charge the due commission form you.</b></p>
        </div>
         </div>

      <hr>
      <div class="enter-txt">
        <p> Upload images of the product (up to 3 images *5MB Max)</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="img1.click()">
            <img [src]="image01 ? image01Url : product.image_01" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="img1" #img1
          ngModel name="image_01"  accept="image/*"  (change)="onImage01Uploaded($event)">
          <p><b>Image 01</b></p>
        </div>

        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="img2.click()">
            <img [src]="image02 ? image02Url : product.image_02" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="img2" #img2
          ngMode name="image_02"  accept="image/*"  (change)="onImage02Uploaded($event)">
          <p><b>Image 02</b></p>
        </div>

        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="img3.click()">
            <img [src]="image03 ? image03Url : product.image_03" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="img3" #img3
          name="image_03"  accept="image/*"  (change)="onImage03Uploaded($event)">
          <p><b>Image 03</b></p>
        </div>
      </div>

    <hr>
  <!--back button only if !addnew-->
  <div class="btns">
    <button mdbBtn color="secondary" class="btn btn-md edtbt" mdbWavesEffect
     type="submit">Save Changes</button>
  <button mdbBtn color="secondary" class="btn btn-md edtbt" outline="yes" mdbWavesEffect
  (click)="editmode = !editmode && editProductForm.resetForm()"  type="button">Discard</button>
  </div>
</form>
</div>

  <!-- order products -->
  <div class="container-fluid" *ngIf="!editmode && !removed && orderUser && islogged && product">

    <!-- order products-->
    <div class="order">

  <div class="text-center pd-top-min">
    <h4> <b> Place an Order for {{product.product}} </b></h4>
    <p> Please check the below  details are correct, and provide required information.
      <hr>
  </div>

  <form class="service-form" (submit)="createOrder(orderForm)" #orderForm ="ngForm">
    <h5> Product Details : </h5>
    <br>
    <div class="row container-fluid">
      <div class="col-md-6">
        <mat-form-field class="service-full-width">
          <mat-label>Product: </mat-label>
          <input matInput disabled
          [ngModel]="product.product" name="product_name" >
        </mat-form-field>
      </div>

    <div class="col-md-6">
      <mat-form-field class="service-full-width">
        <mat-label>Categoy : </mat-label>
        <input matInput disabled
        [ngModel]="product.product_category" name="product_category" >
      </mat-form-field>
    </div>
  </div>

  <div class="row container-fluid">

    <div class="col-md-6">
      <mat-form-field class="service-full-width">
        <mat-label>Sold By: </mat-label>
        <input matInput disabled
        [ngModel]="product.business_name" name="business_name" >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="service-full-width">
        <mat-label>Delivered By: </mat-label>
        <input matInput disabled style="font-weight:bold;"
        [ngModel]="getDeliveryService(product.delivery_service)" >
      </mat-form-field>
    </div>

</div>



<hr>
<div class="payment-section">

<div class="row">
  <!-- payment input-->
  <div class="col-md-8">
    <h5>Place your Order: </h5>
    <p> Available Now: {{ product.inventory +' ' + product.qty_type +'(s)'}} </p>
    <mat-form-field class="service-full-width pd-top-min" >
      <mat-label>Quantity: </mat-label>
      <input matInput required #qtyInput="ngModel" type="number"  [min] = "1" [max]="product.inventory" value="1"
      ngModel name="quantity" >
    </mat-form-field>
    <mat-error *ngIf="qtyInput.invalid"> Please Enter the quantity </mat-error>

    <p *ngIf="product.pay_on_delivery"> Note: Minimum of 10% of the Total amount should be paid now. Rest can be paid on delivery. </p>
    <p *ngIf="!product.pay_on_delivery"> Note: Full payment should be paid on booking. </p>

    <!-- card details-->
    <div class="row">
      <div class="col-md-7">
        <mdb-icon fas icon="list"> </mdb-icon> Card: {{' ...XXXX-XXXX-4419'}} <!--to be modified-->
      </div>
      <div class="col-md-5">
        <a class="btn btn-sm" mdbBtn mdbWavesEffect color="secondary" (click)="cardDetails.show()">
          Card Details
        </a>
      </div>
    </div>

    <hr>

    <div class="amount-pay">
      <!-- full payment-->
      <div *ngIf="!product.pay_on_delivery">
      <mat-form-field class="service-full-width" *>
        <mat-label>Amount (Rs.): </mat-label>
        <input matInput disabled  type="number" min="totalAmount" max="totalAmount"
        [ngModel]="payAmount" name="amount_paid" >
      </mat-form-field>
    </div>

      <!-- Partial payment-->
      <div *ngIf="product.pay_on_delivery">
      <mat-form-field class="service-full-width" >
        <mat-label>Amount (Rs.): </mat-label>
        <input matInput required #payInput2="ngModel" type="number" [min]="totalAmount / 10" [max]="totalAmount"
        [(ngModel)]="payAmount" name="amount_paid" >
      </mat-form-field>
      <mat-error *ngIf="payInput2.invalid"> Please Enter a valid amount ( Min: Rs.{{totalAmount/10}} Max: Rs.{{totalAmount}} ) </mat-error>
    </div>
    </div>
    <hr>
  </div>

  <!-- payment display-->
  <div class="col-md-4">

    <div style="text-align:right;">
        <p style="margin:0px;">Price: </p>
        <span class="duration-cls">Rs. {{product.price + ' /' + product.qty_type }} </span>
      </div>

      <div class="pay-dispaly pd-top-min" style="text-align:right;">
        <p style="margin:0px;"> Total Amount:</p>
        <span class="payment-cls"> <b> Rs. {{totalAmount}}</b></span>
      </div>

      <div class="pay-dispaly pd-top-min" style="text-align:right;" *ngIf="!product.pay_on_delivery">
        <p style="margin:0px;"> Now Paying:</p>
        <span class="payment-cls"> <b> Rs. {{totalAmount}}</b></span>
      </div>

      <div class="pay-dispaly pd-top-min" style="text-align:right;" *ngIf="product.pay_on_delivery">
        <p style="margin:0px;"> Now Paying:</p>
        <span class="payment-cls-min"> <b> Rs. {{totalAmount >= payAmount ? payAmount: totalAmount}}</b></span>
      </div>

      <div class="pay-dispaly pd-top-min" style="text-align:right;" *ngIf="product.pay_on_delivery">
        <p style="margin:0px;"> To be Paid:</p>
        <span class="payment-cls-min"> <b> Rs. {{totalAmount - payAmount > 0 ? totalAmount- payAmount : 0}}</b></span>
      </div>

  </div>

</div>

    <hr>
    <div class="comment-cls pd-top-min">
      <h5> Add a comment...</h5>
      <mat-form-field class="service-full-width">
        <textarea type="text" matInput ngModel name="appointed_comment" placeholder="Please deliver with good quality"></textarea>
      </mat-form-field>
    </div>
    <hr>

    <div class="btns">
      <button mdbBtn color="secondary" class="btn btn-md" mdbWavesEffect
       type="submit" > Make Payment</button>
    <button mdbBtn color="secondary" class="btn btn-md edtbt" outline="yes" mdbWavesEffect
    (click)="orderUser = !orderUser &&  orderForm.resetForm()" >Cancel</button>
    </div>
  </div>

  </form>
</div>


  </div>


      <!-- iF NOT LOGGED IN FOR BOOKING-->
      <div class="container-fluid text-center" *ngIf="!editmode && !removed && orderUser && !islogged">
        <div class="container text-center">
              <img src="./assets/images/vectors/error.png" alt="Not Logged In" style="width:100%; margin-top:30px; margin-bottom:20px;">
              <h2><b> You are not Logged in!</b></h2>
              <p> You need to <a routerLink="/login">Sign In</a> or <a routerLink="/register"> Create an Account </a> to book a service. <br>
              Please <b> Sign In</b> or <b> Sign up</b> to continue.</p>
              <button mdbBtn mdbWavesEffect color="secondary" class="btn btn-md" routerLink="/login"> Sign In & Continue</button>
              <button mdbBtn mdbWavesEffect color="red" class="btnn btn-md" (click)="orderUser = !orderUser"> GO Back</button>
          </div>
        </div>


<div class="container-fluid" *ngIf= "removed">
  <div class="text-center" style="padding-top:20%">
    <img src="./assets/images/other/tick.png" style="width:220px" alt="Delete Successful">
    <br>
    <h4><b>Product Removed!</b></h4>
  </div>
</div>


<!--card details-->

<!--View Service Modal-->
<div
  mdbModal
  #cardDetails="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-hidden="true"

>
  <div
    class="modal-dialog modal-dialog-centered modal-md"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="success=false"
          (click)="cardDetails.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          <mat-icon>service</mat-icon>Card Details
        </h4>
      </div>

      <div class="modal-body " style="height: 400px; overflow-y: auto;">

        <app-card-details></app-card-details>

      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="success=false"
          (click)="cardDetails.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
