.bt-center{
  margin: 0 auto;
}

.mfield {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin-top:10px;
  margin:0 auto;
}

.img-cls{
  width:100%;
  max-width:200px;
  margin:0 auto;
}

.pd-top-min{
  padding-top:5%;
}

.add-new{
  text-align:right;
  padding-right:5%;
}

.mfield{
  width:90%
}
