
.pd-top-min{
  margin-top:5%;
  padding:20px;
  margin:auto;
}

.info-text{
  padding-left:5%;
  text-align:left;
  font-weight:bold;
  color:darkslategray;
  line-height:30px;
}

.info-input{
  text-align:left;
  font-weight:400;
  line-height:30px;
}

.info-input-closed{
  text-align:left;
  font-weight:bold;
  line-height:30px;
  color:darkred;
}

.time-text-l{
  font-weight:bold;
  color:darkgrey;
}

.time-text-r{
  font-weight:bold;
  color:darkgrey;
}


.info-top{
  padding-top:5%;
}

.tb-spec{
  margin:0 auto;
  text-align:center;
}

pre{
  font-weight:bold;
  color:darkgrey;
}

//editmode
.sevice-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.service-full-width {
  width: 90%;
}

.service-full-width-sm {
  width: 75%;
}

.closed-txt{
  color:darkred;
}

.pd-tp{
  margin-top:22px;
}
