<!--more info-->
<div class="text-center container-fluid" *ngIf="opendays">
  <!--title-->
  <h5 class="pd-top">
  <b> {{'selected_earning'}} Open Days</b>
  </h5>
  <hr>
  <section class="text-center tb-spec dark-grey-text">
    <!--weekday info-->
    <div class="row ">
      <div class="col-md-5 info-text">
        Monday
      </div>
      <div class="col-md-7 info-input">
        <pre>{{'8.00 AM'}}  to   {{'8.00 PM'}}</pre>
     </div>
    </div>

    <div class="row ">
      <div class="col-md-5 info-text">
        Tuesday
      </div>
      <div class="col-md-7 info-input">
        <pre>{{'8.00 AM'}}  to   {{'8.00 PM'}}</pre>
    </div>
    </div>

    <div class="row ">
      <div class="col-md-5 info-text">
        Wednesday
      </div>
      <div class="col-md-7 info-input">
        <pre>{{'8.00 AM'}}  to   {{'8.00 PM'}}</pre>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-5 info-text">
        Thursday
      </div>
      <div class="col-md-7 info-input">
        <pre>{{'8.00 AM'}}  to   {{'8.00 PM'}}</pre>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-5 info-text">
        Friday
      </div>
        <div class="col-md-7 info-input">
          <pre>{{'8.00 AM'}}  to   {{'8.00 PM'}}</pre>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-5 info-text">
        Saturday
      </div>
      <div class="col-md-7 info-input">
        <pre>{{'8.00 AM'}}  to   {{'2.00 PM'}}</pre>
      </div>
    </div>


    <div class="row ">
      <div class="col-md-5 info-text">
        Sunday
      </div>
      <div class="col-md-7 info-input-closed">
        Closed
      </div>
    </div>
    <br>

  </section>
</div>
