.br-back{
  background-color: limegreen;
}

.cb-back{
  background-color: lightseagreen;
}

.ar-back{
  background-color: blueviolet;
}

.er-back{
  background-color:yellow;
}

.stat-cards{
  margin:0 auto;
  margin-top:20px;
}

.stat-card{
  text-align:center;
  margin:20px;
}

.stat-text{
  padding:16px;
  text-align:center;
}

.stat-num{
  padding:16px;
  vertical-align:middle;
  text-align:center;
}

.stat-title{
  font-weight:bold;
  font-size:24px;
  text-align:center;
}

.date-text{
  color:darkslategrey;
  font-weight:bold;
  text-align:right;
}

.stat-no{
  font-weight:bold;
  font-size:54px;
  color:white;
  margin-left:20px;
}
