<div class="row stat-cards">
  <!--Booking Requests-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <mat-card-body>
      <div  class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 br-back stat-num">
          <span class="stat-no">
            {{ dashStat ? dashStat.pending_bookings: '0'}}
          </span>
        </div>

        <div class="col-md-9 stat-text">

          <span class="stat-title">
            Bookings Requests
          </span>
          <hr />
          Latest request on:
          <br />
          <span class="date-text">{{ dashStat ? dashStat.last_book_date : 'loading...'}}</span>
        </div>
      </div>
    </mat-card-body>
    </mdb-card>
    <!-- Card -->
  </div>

  <!--Appointment Requests-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <div class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 ar-back stat-num">
          <span class="stat-no">
            {{dashStat ? dashStat.pending_appointments : 0}}
          </span>
        </div>

        <div class="col-md-9 stat-text">
          <span class="stat-title">
            New Appointments
          </span>
          <hr />
          Latest reservation on:
          <br />
          <span class="date-text">{{dashStat ? dashStat.last_appointment_date : 'loading...'}}</span>
        </div>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>

  <!--confirmed Bookings-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <div class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 cb-back stat-num">
          <span class="stat-no">
            {{dashStat ? dashStat.completed_bookings : 0}}
          </span>
        </div>

        <div class="col-md-9 stat-text">
          <span class="stat-title">
            Completed Bookings
          </span>
          <hr />
          Latest booking on:
          <br />
          <span class="date-text">{{dashStat ? dashStat.last_completed_book_date: 'loading...'}}</span>
        </div>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>

  <!--earnings-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <div class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 er-back stat-num">
          <span class="stat-no">
            {{dashStat ? dashStat.approved_appointments: 0}}
          </span>
        </div>

        <div class="col-md-9 stat-text">
          <span class="stat-title">
            Approved Appoints
          </span>
          <hr />
          Latest Approval on:
          <br />
          <span class="date-text">{{dashStat ? dashStat.last_approved_appointment_date: 'loading...'}}</span>
        </div>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>
</div>
