<div class="pd-top-min">

  <h4 *ngIf="orderType == 1">
    <mat-icon>library_books</mat-icon>
   <b> New Orders</b>
  </h4>
  <h4 *ngIf="orderType == 2">
    <mat-icon>check_circle</mat-icon>
   <b> Delivered Orders</b>
  </h4>
  <h4 *ngIf="orderType == 3" >
    <mat-icon>block</mat-icon>
   <b> Cancelled Orders</b>
  </h4>
  <mat-form-field>

    <mat-label>
      <mat-icon>search</mat-icon>
      Search Order History</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gunapala">
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="hasData()">
    <table class="table-responsive" mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Order ID </th>
        <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Product </th>
        <td mat-cell *matCellDef="let row"> {{row.product}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="date_ordered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Date Orderd </th>
        <td mat-cell *matCellDef="let row"> {{row.created_date + row.created_time}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Quantity </th>
        <td mat-cell *matCellDef="let row" > {{row.quantity + row.qty_type}} </td>
      </ng-container>

       <!-- Color Column -->
       <ng-container matColumnDef="amount_paid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Amount Paid </th>
        <td mat-cell *matCellDef="let row" > {{row.amount_paid}}  </td>
      </ng-container>


       <!-- Action Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ACTION </th>
        <td mat-cell *matCellDef="let row">
          <button mdbBtn color="purple" text="white" class="btn btn-sm text-center" (click)="orderOptions.show()">
            ACTION
          </button>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
  </div>

  <div class="text-center pd-top-min"  *ngIf="!hasData()">
    No Orders Found
  </div>

  </div>



  <!--View Details Modal-->
  <div
    mdbModal
    #orderOptions="mdbModal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myBasicModalLabel"
    [config]="{ backdrop: false, ignoreBackdropClick: true }"
    aria-hidden="true"
    *ngIf="hasData()"

  >
    <div
      class="modal-dialog modal-dialog-centered modal-lg"
      role="document"
      style="overflow-y: initial !important"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="orderOptions.hide()"
          >
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel" >
            <mat-icon>service</mat-icon>Order {{recievedOrders[0].order_id}} Details
          </h4>
        </div>

        <div class="modal-body " style="height: 450px; overflow-y: auto;">

              <!--more info-->
              <div class="text-center">

                <section class="text-center dark-grey-text">
                  <!--booking info-->
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Order ID
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].order_id}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Product ID
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].product_id}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Product
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].product}}">
                    </div>
                  </div>


                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      Quantity
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].quantity + recievedOrders[0].qty_type}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Customer
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].customer_name}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Order Date & Time
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].created_date + recievedOrders[0].created_time}}">
                    </div>
                  </div>


                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Comments
                    </div>
                    <div class="col info-input">
                      <textarea type="text" matInput disabled value=" {{recievedOrders[0].comment}}"></textarea>
                    </div>
                  </div>

                  <hr>
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Payment type
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedOrders[0].payment_type}}">
                    </div>
                  </div>
                  <hr>
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Due Commission
                    </div>
                    <div class="col info-input-net">
                      <input type="text" matInput disabled value=" Rs. {{recievedOrders[0].commission_due}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      Total Amount
                    </div>
                    <div class="col info-input-net">
                      <input type="text" matInput disabled value=" Rs. {{recievedOrders[0].amount}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      Amount Paid
                    </div>
                    <div class="col info-input-net">
                      <b><input type="text" matInput disabled value=" Rs. {{recievedOrders[0].amount_paid}}"></b>
                    </div>
                  </div>
                  <hr>
                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      State
                    </div>
                    <div class="col info-input-net" style="color:darkmagenta;">
                      <b><input type="text" matInput disabled value=" {{recievedOrders[0].state}}"></b>
                    </div>
                  </div>

                  <!--pending bookings -->
                  <div class="info-top" *ngIf="recievedOrders[0].state == 'Pending'" >
                  <button mdbBtn color="purple" text="white" class="btn  btn-md text-center">
                   <span > Send to Delivery </span>
                  </button>

                  <button mdbBtn color="darkred" text="white" class="btn  btn-md btn-danger text-center" >
                    <span>Cancel Order </span>
                  </button>
                </div>

                 <!--approved bookings -->
                 <div class="info-top" *ngIf="recievedOrders[0].state == 'Delivered'">
                  <button mdbBtn color="darkred" text="white" class="btn  btn-md btn-danger text-center" >
                    <span >Send Cancel Request</span>
                  </button>
                </div>

                </section>
              </div>
        </div>

        <div class="modal-footer">
          <button
            mdbBtn
            color="link"
            (click)="orderOptions.hide()"
            mdbWavesEffect
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>


  <!--Success Modal-->
  <div mdbModal #bookingSuccess="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
   [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
   <div class="modal-dialog modal-notify modal-success modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Order Approved!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bookingSuccess.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Order was approved and sent to delivery!</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="bookingSuccess.hide()">Okay
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
  </div >
