<div class="container-fluid" *ngIf="!editmode && event">

  <div class="row f-image">
    <img class="d-block w-100" [src]="event.feature_img ? event.feature_img : './assets/images/merchant/nopic.png'"
    alt="Feature image" class="feature-img">
  </div>
    <div class="row top-stat">
        <div class="content-title">
          {{event.event_title}}
        </div>
        <div class="open-stat" >
          <a mdbWavesEffect role="button" (click)= "locationModal.show()">
          <span><mdb-icon far icon="map-marker"> </mdb-icon> At {{ event.location.homeTown}}</span>
          </a>
        </div>

        <div class="open-stat pt-3" *ngIf="event.from_date.slice(0,10) != event.to_date.slice(0,10)" >
          <span class="date-stat"><mdb-icon far icon="calendar-alt"> </mdb-icon> From
            {{event.from_date.slice(0,10)}} To {{event.to_date.slice(0,10)}}</span>
        </div>

        <div class="open-stat pt-3" *ngIf="event.from_date.slice(0,10) == event.to_date.slice(0,10)" >
          <span class="date-stat"><mdb-icon far icon="clock"> </mdb-icon> On
            {{event.from_date.slice(0,10)}} </span>
            <br>
            <span class="date-stat"><mdb-icon far icon="clock"> </mdb-icon> From
              {{ event.from_date.slice(11,16)}} To  {{ event.from_date.slice(11,16)}}</span>
        </div>
    </div>
      <hr>

      <div class="row">
        <div class=" col-md-8 content-text pt-2">
          {{event.description}}
          <hr>
          <div class="category">
            <mdb-icon far icon="calendar-alt"></mdb-icon> Categry: {{ event.event_category}}
          </div>
          <div class="category">
            <mdb-icon far icon="money"></mdb-icon> <b> Budget: Rs. {{ event.total_budget}} </b>
          </div>
          <br>
          <div class="notify" *ngIf="isowner">
            <mdb-icon fas icon="user-friends"> </mdb-icon> No of Participants (Expected): {{event.no_of_participants}}
            <p> View all participants: <a routerLink="/planner/event/participants/{{event.event_id}}"> Event Participants</a></p>
          </div>
          <hr>
          <div classs="item-box" *ngIf="isowner">
            <h4>
              <mat-icon>block</mat-icon>
             <b> Allocated Services</b>
            </h4>
              <!-- service table-->
                <div class="container-fluid ">
                  <div class="mat-elevation-z8" *ngIf="services.length">
                    <table class="table-responsive" mat-table [dataSource]="serviceDataSource">

                      <!-- ID Column -->
                      <ng-container matColumnDef="service_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Service  </th>
                        <td mat-cell *matCellDef="let row"> {{row.service_name}} </td>
                      </ng-container>

                      <!-- Progress Column -->
                      <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Category </th>
                        <td mat-cell *matCellDef="let row"> {{row.service_category}} </td>
                      </ng-container>

                      <!-- Color Column -->
                      <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > State </th>
                        <td mat-cell *matCellDef="let row" >
                          {{row.state}}
                        </td>
                      </ng-container>

                       <!-- Action Column -->
                       <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Details </th>
                        <td mat-cell *matCellDef="let row">
                          <button mdbBtn color="primary" text="white" class="btn btn-sm text-center"
                          routerLink= "/planner/event/plan/{{event.event_id}}">
                            MORE DETAILS
                          </button>
                         </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="serviceDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: serviceDisplayedColumns;">
                      </tr>
                    </table>
                </div>
              <hr>
              <h4>
                <mat-icon>block</mat-icon>
               <b> Orderd Products</b>
              </h4>
                <!-- products table-->
                      <div class="container-fluid ">
                        <div class="mat-elevation-z8" *ngIf="products.length">
                          <table class="table-responsive" mat-table [dataSource]="productDataSource">

                            <!-- ID Column -->
                            <ng-container matColumnDef="product">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header > Product  </th>
                              <td mat-cell *matCellDef="let row"> {{row.product}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="category">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header > Category </th>
                              <td mat-cell *matCellDef="let row"> {{row.product_category}} </td>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="state">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header > State </th>
                              <td mat-cell *matCellDef="let row" >
                                {{row.state}}
                              </td>
                            </ng-container>

                             <!-- Action Column -->
                             <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Details </th>
                              <td mat-cell *matCellDef="let row">
                                <button mdbBtn color="primary" text="white" class="btn btn-sm text-center"
                                routerLink= "/planner/event/plan/{{event.event_id}}">
                                  MORE DETAILS
                                </button>
                               </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="serviceDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: serviceDisplayedColumns;">
                            </tr>
                          </table>
                      </div>

          </div>
        </div>
        <hr>


        <!--action buttons-->
        <div class="col-md-4">
         <div class="button-box container-fluid">
           <h4 class="button-box-heading"><b>
            <mat-icon>block</mat-icon> Action Pane
           </b></h4>
           <div class="pb-2" *ngIf="event.state != 'published'">
             <p><b> Event has not Published Yet!</b></p>
            <button mdbBtn color="primary" text="white" class="btn btn-md text-center"
            (click) = "updateEventState()">
              PUBLISH EVENT
            </button>
           </div>

           <div class="pb-2" *ngIf="event.state == 'published'">
            <h5 style="color:darkgreen;"><b> Event is Published!</b></h5>
          </div>
           <hr>

           <div class="pb-2" >
            <p class="button-box-sub"><mdb-icon far icon="list"> </mdb-icon> Edit Event Details: </p>
           <button mdbBtn color="seconary" text="white" class="btn btn-md text-center"
           routerLink = "/planner/event/edit/{{event.event_id}}">
             EDIT DETAILS
           </button>
          </div>
          <hr>
          <div class="pb-2" >
            <p class="button-box-sub"><mdb-icon far icon="check"> </mdb-icon> Event Plan: </p>
           <button mdbBtn color="secondary" text="white" class="btn btn-md text-center"
           routerLink = "/planner/event/plan/{{event.event_id}}">
            EVENT PLAN
           </button>
          </div>

          <div class="pb-2" >
            <p class="button-box-sub"><mdb-icon far icon="check"> </mdb-icon> Event Schedule: </p>
           <button mdbBtn color="secondary" text="white" class="btn btn-md text-center"
           routerLink = "/planner/event/schedule/{{event.event_id}}">
            EVENT SCHEDULE
           </button>
          </div>
          <hr>
          <div class="pb-2" >
            <p class="button-box-sub"><mdb-icon far icon="user-friends"> </mdb-icon> Manage Participants:</p>
           <button mdbBtn color="secondary" text="white" class="btn btn-sm text-center" [disabled] = "event.state != 'published'"
           routerLink = "/planner/event/participants/{{event.event_id}}">
             MANAGE PARTICIPANTS
           </button>
          </div>
         </div>

      </div>
    </div>

    <!--View Location Modal-->
    <div
      mdbModal
      #locationModal="mdbModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myBasicModalLabel"
      [config]="{ backdrop: false, ignoreBackdropClick: true }"
      aria-hidden="true"

    >
      <div
        class="modal-dialog modal-dialog-centered modal-md"
        role="document"
        style="overflow-y: initial !important"
      >
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="success=false"
              (click)="locationModal.hide()"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel" >
              <mat-icon>service</mat-icon>View event Location
            </h4>
          </div>

          <div class="modal-body " style="height: 400px; overflow-y: auto;">

            <app-location-search [searchMode] = "false" [recievedLocation] = "event ? event.location : null"></app-location-search>

          </div>

          <div class="modal-footer">
            <button
              mdbBtn
              color="link"
              (click)="success=false"
              (click)="locationModal.hide()"
              mdbWavesEffect
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>



