.mat-drawer-container{
  background-color: white !important;;
}

.sidenav-container {
  height:100%;
}

.sidenav {
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.filter-title{
  font-size:16px;
}

.back-img{
width:100%;
height:18vh;
}

.nav-back-img{
  width:100%;
  height:40vh;
}

.search-icon mat-icon{
  color:darkmagenta;
  font-weight:bold;
}


.product-cat{
  padding:15px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  margin-bottom:42px;
}

.pd-top{
  padding-top:40px;
}

.pd-top-min{
  padding-top:20px;
}

.pd-side{
  padding-left:20px;
  padding-right:20px;
}

.filter-btn{
  position:fixed;
  z-index:10;
  background-color:rgb(248, 248, 248);
  border-radius: 15px;
  padding-right:12px;
  margin-left:15px;
  margin-top:25px;
  font-weight:bold;
  color:darkmagenta;
}

.product-cat-heading{
  color:darkmagenta;
  font-weight:bold;
}

.product-cat-h{
  margin-bottom:15px;
}

//filters

.pd-top-filter{
  padding-top:9px;
}

.filter-content{
  padding-left:10px;
  padding-right:10px;
}

.filters{
  padding-top:15px;
  padding-left: 15px;
  padding-right:10px;
  width:100%;
}

.cat-list{
  padding-left:10px;
  padding-top:20px;
  width:100%;
  padding-right:10px;
}

.price-text{
  font-size:14px;
  font-weight:600px;
  color:darkgray;
}

.pd-img{
  padding-left:60px;
  padding-right:60px;
  padding-top:7vh;
}

.nav-top{
  padding:0px;
  margin:0px;
}

.mat-list-base{
  padding-top:0px !important;
}


//mobile view
@media screen and (max-width: 600px) {


  .back-img{
    height:23vh;
  }

  .pd-top-min{
    padding-top:33px;
  }
}


mat-sidenav-content{
  background-color: #fff;
}

.txt-white{
  color:darkmagenta !important;
}



.sidenav{
  background-color: white;
}

.side-start{
  text-align:left;
}

.side-end{
  text-align:right;
}

.side-text{
  vertical-align:top;
}

.active-nav{
  font-weight:bold;
  color:darkmagenta;
}
