<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg sticky-top navbar-dark purple scrolling-navbar" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">

    <img src="./assets/images/logos/navbar.png" height="30" alt="">

  </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/">
          Find Events
        </a>
      </li>
      <li class="nav-item">
        <a  mdbWavesEffect class="nav-link" routerLink="/">
          Our Services
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/">
          About Us
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/login" routerLinkActive="purple darken-3">
          <mdb-icon fas icon="sign-in-alt" ></mdb-icon>
          Log In
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link"  routerLink="/register" routerLinkActive="purple darken-3">
          <mdb-icon fas icon="user-plus"></mdb-icon>
          Sign Up
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" >
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user-circle" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </a>
      </li>-->
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
