<div class="container-fluid" *ngIf="!editmode && !addnew">

  <div class="row f-image">
    <img src={{serviceDetails[0].feature_img}} alt="Service Cover" class="feature-img" >
  </div>
    <div class="row">
      <div class="col-md-7">
        <div class="content-title">
          {{serviceDetails[0].service_name}}
        </div>
        <div class="open-stat" *ngIf="serviceDetails[0].available_booking">
          <a mdbWavesEffect role="button" (click)="opendays.show()">
          <span><mdb-icon far icon="clock"> </mdb-icon> {{'Service is Available'}}</span>
          </a>
        </div>

        <div class="open-stat" *ngIf="!serviceDetails[0].available_booking">
          <a mdbWavesEffect role="button" disabled >
          <span style="color:darkred;"><mdb-icon far icon="clock"> </mdb-icon> {{'Service not Available'}}</span>
          </a>
        </div>

      </div>

      <!--if editb=able by merchant-->
      <div class="col-md-5 edit-cls" *ngIf="isowner">
          <a mdbBtn color="secondary" class="btn btn-md edit-btn" mdbWavesEffect
          (click)="editmode = !editmode">Edit Details</a>
      </div>

      <!--if only shown to users-->
      <div class="col-md-5 edit-cls" *ngIf="!isowner">
        <a mdbBtn color="secondary" outline="yes" class="btn btn-lg book-btn" mdbWavesEffect>Book Now</a>
      </div>

    </div>


      <hr>
      <div class="row">
        <div class=" col-md-7 content-text">
          {{serviceDetails[0].description}}
          <br>
          <div class="category">
            <mdb-icon far icon="calendar-alt"></mdb-icon> Categry: {{serviceDetails[0].service_category}}
          </div>
          <div class="notify" >
            <mdb-icon far icon="calendar-check"> </mdb-icon> {{(serviceDetails[0].payment_type == 'Pay on Meet') ? 'Pay on Meet Available' : 'Payment on Booking Required'}}
          </div>
          <br>
          <div class="notify" *ngIf="iseditable">
            <mdb-icon fas icon="bookmark"> </mdb-icon> {{serviceDetails[0].no_of_bookings}} Active Bookings
            <br>
            <mdb-icon far icon="calendar-check"> </mdb-icon> {{serviceDetails[0].no_of_appoints}} Active Appointments
          </div>
        </div>

        <!--hourly rate-->
        <div class="col-md-5">
          <div class="hr-rate">
            <span class="hr-price"> Rs. {{serviceDetails[0].rate}}</span>
            <span class="hr-text"> {{serviceDetails[0].rate_type}}</span>
          </div>
          <hr>

          <!--service ratings-->
            <div class="rating">
              <ngb-rating [(rate)]="serviceDetails[0].rating" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <br>
              <span class="rating-txt">
                {{serviceDetails[0].no_of_ratings}} Recommended
              </span>
            </div>
          <hr>
          <div class="owner text-center" >
            <span>Owned by {{serviceDetails[0].business_name}}</span>
            <br>
            <a mdbBtn color="secondary" class="btn btn-md" outline="yes" mdbWavesEffect *ngIf="!isowner"
              (click)="showBprofile()" >View Business</a>
          </div>

        </div>
      </div>

      <hr>

</div>

<!--editnew service-->
<div class="container-fluid text-center" *ngIf="editmode">
  <div class="center-txt">
    <p> You can change the details of service <b>{{serviceDetails[0].service_name}}</b> below.</p>
  </div>
  <br>
    <form class="service-form">
      <mat-form-field class="service-full-width">
        <mat-label>Service Title</mat-label>
        <input matInput placeholder="Service Title here" value="{{serviceDetails[0].service_name}}" required>
      </mat-form-field>
      <br>

      <mat-form-field class="service-full-width">
        <mat-label >Select Service Category</mat-label>
        <select matNativeControl required>
          <option  value={{cat.id}} *ngFor="let cat of categories">
            {{cat.val}}</option>
        </select>
      </mat-form-field>
      <br>
        <div class="check-cls">
          <mat-label class="check-label">Service Availability</mat-label>
          <mat-checkbox class="check-margin" >Available for Booking</mat-checkbox>
          <mat-checkbox class="check-margin" >Available for Appointments</mat-checkbox>
        </div>
        <br>
        <div class="check-cls">
          <mat-label class="check-label">Available Days and Times </mat-label>
          <mat-checkbox class="check-margin"  [checked]="serviceDetails[0].open_days_as_business"
          (change)="serviceDetails[0].open_days_as_business = !serviceDetails[0].open_days_as_business"> Same as Business </mat-checkbox>
          <button mdbBtn color="secondary" class="btn btn-md" outline="yes" mdbWavesEffect
          (click)="opendays.show()"  [disabled]="serviceDetails[0].open_days_as_business">Change Availability</button>
        </div>

      <br>
      <mat-form-field class="service-full-width">
        <mat-label class="check-label">Service Description</mat-label>
        <textarea matInput rows="5" placeholder="Service Description">
          {{serviceDetails[0].description}}
        </textarea>
      </mat-form-field>
      <br>

      <div class="row">

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label >Service Rate Type</mat-label>
            <select matNativeControl required>
             <option  value={{rate.id}} *ngFor="let rate of rates">
                {{rate.val}}</option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label>Service Rate(Rs.)</mat-label>
            <input matInput placeholder="Service Rate here" value="{{serviceDetails[0].rate}}" required>
          </mat-form-field>
        </div>
      </div>

      <div class="text-center">
        <mat-form-field class="service-full-width-sm">
          <mat-label >Payment Type</mat-label>
          <select matNativeControl required>
           <option  value={{ptype.id}} *ngFor="let ptype of paymentTypes">
              {{ptype.val}}</option>
          </select>
        </mat-form-field>
        <br>
        <p class="pay-on-meet"> Note: If <b>Pay on Meet</b> is selected, <b>no payment</b> will be charged on booking. Payment need to be collected manullay. However, <b>System will charge the due commission form you.</b></p>
      </div>

      <hr>
      <div class="enter-txt">
        <p> Upload images related to your service (up to 3 images *5MB Max)</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="sidea.click()">
            <img src="{{serviceDetails[0].image_01}}" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="sidea" #sidea>
          <p><b>Image 01</b></p>
        </div>

        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="sideb.click()">
            <img src="{{serviceDetails[0].image_02}}" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="sideb" #sideb>
          <p><b>Imag 02e</b></p>
        </div>

        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="sidec.click()">
            <img src="{{serviceDetails[0].image_03}}" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="sidec" #sidec>
          <p><b>Image 03</b></p>
        </div>
      </div>

    </form>
    <hr>
  <!--back button only if !addnew-->
  <div class="btns">
    <a mdbBtn color="secondary" class="btn btn-md edtbt" mdbWavesEffect
  (click)="editmode = !editmode" >Save Changes</a>
  <a mdbBtn color="secondary" class="btn btn-md edtbt" outline="yes" mdbWavesEffect
  (click)="editmode = !editmode" >Discard</a>
  </div>
</div>

<!--add new service-->
<div class="container-fluid text-center" *ngIf="addnew">
  <div class="center-txt">
    <p> To create a new service, fill details below...</p>
  </div>
  <br>
    <form class="service-form">
      <mat-form-field class="service-full-width">
        <mat-label>Service Title</mat-label>
        <input matInput placeholder="Service Title here"  required>
      </mat-form-field>
      <br>

      <mat-form-field class="service-full-width">
        <mat-label >Select Service Category</mat-label>
        <select matNativeControl required>
          <option  value={{cat.id}} *ngFor="let cat of categories">
            {{cat.val}}</option>
        </select>
      </mat-form-field>
      <br>
        <div class="check-cls">
          <mat-label class="check-label">Service Availability</mat-label>
          <mat-checkbox class="check-margin" >Available for Booking</mat-checkbox>
          <mat-checkbox class="check-margin" >Available for Appointments</mat-checkbox>
        </div>
        <br>
        <div class="check-cls">
          <mat-label class="check-label">Available Days and Times</mat-label>
          <mat-checkbox class="check-margin" [checked]="temp_open"
          (change)="temp_open = !temp_open">Same as Business</mat-checkbox>
          <button mdbBtn color="secondary" class="btn btn-md" outline="yes" mdbWavesEffect
          (click)="opendays.show()"  [disabled]="temp_open">Change Availability</button>
        </div>
      <br>
      <mat-form-field class="service-full-width">
        <mat-label class="check-label">Service Description</mat-label>
        <textarea matInput rows="5" placeholder="Service Description">
        </textarea>
      </mat-form-field>
      <br>

      <div class="row">

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label >Service Rate Type</mat-label>
            <select matNativeControl required>
             <option  value={{rate.id}} *ngFor="let rate of rates">
                {{rates.val}}</option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="service-full-width-sm">
            <mat-label>Service Rate(Rs.)</mat-label>
            <input matInput placeholder="0.00"  required>
          </mat-form-field>
        </div>
      </div>

        <div class="text-center">
          <mat-form-field class="service-full-width-sm">
            <mat-label >Payment Type</mat-label>
            <select matNativeControl required>
             <option  value={{ptype.id}} *ngFor="let ptype of paymentTypes">
                {{ptype.val}}</option>
            </select>
          </mat-form-field>
          <br>
          <p class="pay-on-meet"> Note: If <b>Pay on Meet</b> is selected, <b>no payment</b> will be charged on booking. Payment need to be collected manullay. However, <b>System will charge the due commission form you.</b></p>
        </div>
      <hr>
      <div class="enter-txt">
        <p> Upload feature Images related to your service (up to 3 images *5MB Max)</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="sidea.click()">
            <img src="./assets/images/merchant/nopic.png" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="sidea" #sidea>
          <p><b>Image 01</b></p>
        </div>

        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="sideb.click()">
            <img src="./assets/images/merchant/nopic.png" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="sideb" #sidea>
          <p><b>Image 02</b></p>
        </div>

        <div class="col-md-4">
          <a role="button" mdbWavesEffect (click)="sidec.click()">
            <img src="./assets/images/merchant/nopic.png" alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="sidec" #sidea>
          <p><b>Image 03</b></p>
        </div>
      </div>

    </form>
    <hr>
  <!--back button only if !addnew-->
  <div class="btns">
    <a mdbBtn color="secondary" class="btn btn-md edtbt" mdbWavesEffect
  (click)="createService()" >Create Service</a>
  </div>
</div>

<!--open days Modal-->
<div
  mdbModal
  #opendays="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="opendays.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          Available Times
        </h4>
      </div>
      <div class="modal-body " style="height: 400px; overflow-y: auto;" >
         <app-business-open-days [editmode]="false"></app-business-open-days>
      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="opendays.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
