<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'"
      [opened]="opened">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <!--filters-->
    <form (submit)="searchProducts(filterForm)" #filterForm="ngForm">
      <div mat-list-item class="filters">
      <h4 style="padding-left:15px;">Filter Products..</h4>
      <hr>
      <!--category-->
      <div class="filter-content pd-top-filter">
        <h6> <mdb-icon fas icon="bookmark"></mdb-icon> By Category</h6>
          <mat-form-field class="cat-list">
            <mat-label >Select Category</mat-label>
            <select matNativeControl required [(ngModel)]="productCategory" name="category">
             <option  *ngFor="let cat of categories">
                {{cat.val}}</option>
            </select>
          </mat-form-field>
      </div>
      <hr>
      <!--price-->
      <div class="filter-content pd-top-filter">
        <h6> <mdb-icon fas icon="money-bill"></mdb-icon> By Price Range</h6>
        <span class="price-text"> Min Price Rs. {{priceStart}}</span>
        <br>
        <mat-slider
        class="cat-list"
        invert="false"
        [max]= "priceEnd"
        min="0"
        step="1"
        thumbLabel="true"
        [(ngModel)]="priceStart"
        name="priceStart">
        </mat-slider>
        <br>
        <span class="price-text"> Max Price Rs. {{priceEnd}}</span>
        <br>
        <mat-slider
        class="cat-list"
        invert="false"
        max="49999"
        [min]="priceStart"
        step="1"
        thumbLabel="true"
        [(ngModel)]="priceEnd"
        name="priceEnd">
        </mat-slider>
      </div>
      <hr>

         <!--pay type-->
         <div class="filter-content pd-top-filter">
          <h6> <mdb-icon fas icon="credit-card"></mdb-icon> By Payment Method</h6>
          <br>
            <div class="filter-check" >
            <mat-checkbox class="example-margin" ngModel name="visa"> Visa</mat-checkbox><br>
            <mat-checkbox class="example-margin" ngModel name="payhere"> PayHere</mat-checkbox><br>
            <mat-checkbox class="example-margin" [(ngModel)]="payOnDelivery" name="pay_on_delivery">Pay on Delivery</mat-checkbox>
            </div>
        </div>

        <hr>
       <!--ratings-->
       <div class="filter-content pd-top-filter">
        <h6> <mdb-icon fas icon="star"></mdb-icon> By User Ratings</h6>
        <div class="rating">
          <ngb-rating [(rate)]="ratings" max="5">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <br>
          <span class="rating-txt">
            Scale 1-5
          </span>
        </div>
      </div>
      <hr>
      <div class="filter-content pd-top-filter text-center">
        <button mdbBtn color="secondary" class="btn btn-md"
        style="margin:0 auto;" text="white" mdbWavesEffect (click)="drawer.close()" (click)="searchProducts()">
          Apply Filters
        </button>
        <hr>
      </div>
    </div>
  </form>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="filter-btn shadow">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.open()"
      >
      <mat-icon aria-label="Side nav toggle icon">subject</mat-icon>
    </button>
    <span class="filter-title">Filter Products</span>
    </div>



    <!--search header-->
        <div class="header text-center text-white" style="position:relative;">
          <img src="./assets/images/back/search.jpg" class="back-img">
          <div class="text-center" style="position: absolute; top:20%; bottom:0; left:0; right:0;">
              <h2><b>Find best Deals!</b></h2>
              <p>evenza has everything you require for your event..</p>
              <br>
                <div class="text-center search-box shadow">
                  <mat-form-field class="search-input">
                    <mat-label>
                      <mat-icon>search</mat-icon>
                      Search Products</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
                  </mat-form-field>
                </div>
          </div>
        </div>

        <!--description-->
        <div class="description text-center container pd-top pd-side">
          <p>Evenza provide you everything for your event. Find products among below categories. You may simply order them or add products to your
            <b><a routerLink="/ep/dash"> Event Plan</a></b>. Fastest Delivery Islandwide available with us!
          </p>
          <hr>
        </div>


      <!--search results-->
      <div class="search-results container" *ngIf="products.length">
        <div class="col-md-6 text-md-left lead">
          <h3 class="product-cat-heading">{{productCategory}}</h3>
      </div>
        <div class="row search-result shadow container-fluid" mdbWavesEffect *ngFor="let product of products">
          <div class="col-md-3">
            <img [src]="product.image_01" style="width:260px" alt="product.product" title="product.product">
          </div>
            <div class="col-md-4 search-result-pd">
              <span class="search-result-heading"> {{product.product}}</span>
              <br>
              <span class="search-result-price"> Rs. {{product.price}}</span>
            </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-4 search-result-btn-pd">
            <div style="text-align:right;">
              <a role="button" class="btn btn-md" color="secondary" text="white" mdbBtn mdbWavesEffect
              (click)= "sendProduct(product)" (click)="productDetails.show()">
              <mdb-icon fas icon="gem"></mdb-icon> Order Now</a>
            </div>
             <div class="rating-mini">
              <ngb-rating readonly="true" [rate]="product.rating" max="5">
                <ng-template  let-fill="fill" let-index="index">
                  <span class="star-mini" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center pd-top-min" *ngIf="!products.length">
        No Products Found
      </div>



      <hr>

      <div class="text-center">
        <h5><b>    Couldn't find what you'r looking for?  </b></h5>
       <br>
       Place your Inquery or Join  the Realtime Chat
       <button class="btn btn-md" mdbBtn mdbWavesEffect color="primary" style="margin-left:25px;" routerLink="/inquery"
       (click) = "emitUser()"          >
         Visit Forum
       </button>
      </div>>

  </mat-sidenav-content>
</mat-sidenav-container>

<!--product details of a search result-->
<div
  mdbModal
  #productDetails="mdbModal"
  class="modal fade"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true, show:success }"
  style="z-index:1;"

>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="productDetails.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          <mat-icon>service</mat-icon>Order Product
        </h4>
      </div>

      <div class="modal-body " style="height: 500px; overflow-y: auto;">

        <app-product-details  [editable]= "false" [isowner]="false" [islogged] = "islogged" ></app-product-details>

      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="productDetails.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

