<div class="pd-top-min" >

<h4 *ngIf="bookingType == 'pending'">
  <mat-icon>library_books</mat-icon>
 <b> Pending Bookings</b>
</h4>
<h4 *ngIf="bookingType == 'completed'">
  <mat-icon>check_circle</mat-icon>
 <b> Completed Bookings</b>
</h4>
<h4 *ngIf="bookingType == 'cancelled'" >
  <mat-icon>block</mat-icon>
 <b> Cancelled Bookings</b>
</h4>
<mat-form-field>

  <mat-label>
    <mat-icon>search</mat-icon>
    Search Bookings</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Photography">
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="recievedBookings.length">
  <table class="table-responsive" mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Booking ID </th>
      <td mat-cell *matCellDef="let row"> {{row.booking_id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="service_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Service Booked </th>
      <td mat-cell *matCellDef="let row"> {{row.service_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="booked_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Date Booked </th>
      <td mat-cell *matCellDef="let row"> {{row.from_date}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Duration </th>
      <td mat-cell *matCellDef="let row" > {{row.duration}} {{row.duration == 1 ? ' Hrs' : ' Days'}} </td>
    </ng-container>

     <!-- Color Column -->
     <ng-container matColumnDef="amount_paid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Amount Paid </th>
      <td mat-cell *matCellDef="let row" > {{row.amount_paid}}  </td>
    </ng-container>


     <!-- Action Column -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ACTION </th>
      <td mat-cell *matCellDef="let row">
        <button mdbBtn color="purple" text="white" class="btn btn-sm text-center"
        (click) ="showBookingDetails(row.booking_id)" (click)="bookingOptions.show()">
          ACTION
        </button>
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</div>

<div class="text-center pd-top-min"  *ngIf="!recievedBookings.length">
  No Bookings Found
</div>

</div>



<!--View Details Modal-->
<div
  mdbModal
  #bookingOptions="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-hidden="true"


>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content"   *ngIf = "recievedBookings.length">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="bookingOptions.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          <mat-icon>service</mat-icon>Booking {{recievedBookings[0].booking_id}} Details
        </h4>
      </div>

      <div class="modal-body " style="height: 450px; overflow-y: auto;">

            <!--more info-->
            <div class="text-center">

              <section class="text-center dark-grey-text">
                <!--booking info-->
                <div class="row ">
                  <div class="col-md-4 info-text">
                    Boking ID
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].booking_id}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Service ID
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].service_id}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Service Name
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].service_name}}">
                  </div>
                </div>

                <div *ngIf="recievedBookings[0].duration > 1">
                <div class="row ">
                  <div class="col-md-4 info-text">
                    Booked Date (from)
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].from_date}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Booked Date (to)
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].to_date}}">
                  </div>
                </div>
                </div>

                <div *ngIf="recievedBookings[0].duration == 1">
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Booked Date
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].from_date}}">
                    </div>
                  </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Booked Time (from)
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].from_time}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Booked Time (to)
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].to_time}}">
                  </div>
                </div>
              </div>

                <div class="row ">
                  <div class="col-md-4 info-text-net">
                    Duration
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].duration}} {{recievedBookings[0].duration == 1 ? 'Hrs' : 'Days'}}">
                  </div>
                </div>

                <div>
                  <hr>
                  <h5><b>Customer Details</b></h5>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Customer Name
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].customer_name}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Assigned Event
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].event_name}}">
                  </div>
                </div>



                <hr>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Created Date & Time
                  </div>
                  <div class="col info-input">
                    <input type="text" matInput disabled value=" {{recievedBookings[0].created_date.slice(0,10) + ' '
                    + recievedBookings[0].creeated_date.slice(11,19) }}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Comments
                  </div>
                  <div class="col info-input">
                    <textarea type="text" matInput disabled value=" {{recievedBookings[0].comment}}"></textarea>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text">
                    Customer Review
                  </div>
                  <div class="col info-input">
                    <textarea type="text" matInput disabled value=" {{recievedBookings[0].review ? recievedBookings[0].review : 'Not Reviewed yet'}}"></textarea>
                  </div>
                </div>


                <div class="row ">
                  <div class="col-md-4 info-text-net">
                    State
                  </div>
                  <div class="col info-input-net">
                    <b><input type="text" matInput disabled value=" {{recievedBookings[0].state}}"></b>
                  </div>
                </div>


                <hr>

                <div *ngIf="bookingType != 'cancelled'">
                <div class="row ">
                  <div class="col-md-4 info-text">
                    Due Commission
                  </div>
                  <div class="col info-input-net">
                    <input type="text" matInput disabled value=" Rs. {{recievedBookings[0].commission_due}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text-net">
                    Total Amount
                  </div>
                  <div class="col info-input-net">
                    <input type="text" matInput disabled value=" Rs. {{recievedBookings[0].amount}}">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-4 info-text-net">
                    Amount Paid
                  </div>
                  <div class="col info-input-net">
                    <b><input type="text" matInput disabled value=" Rs. {{recievedBookings[0].amount_paid}}"></b>
                  </div>
                </div>

                <div class="row " *ngIf="(recievedBookings[0].amount - recievedBookings[0].amount_paid) > 0">
                  <div class="col-md-4 info-text-net">
                    Amount to be Paid
                  </div>
                  <div class="col info-input-net"  style="color:darkmagenta !important;">
                    <b><input type="text" matInput disabled value=" Rs. {{recievedBookings[0].amount - recievedBookings[0].amount_paid}}"></b>
                  </div>
                </div>
                <hr>
              </div>

                <!--pending bookings -->
                <div class="info-top" *ngIf="recievedBookings[0].state == 'pending'" >
                <button mdbBtn color="purple" text="white" class="btn  btn-md text-center">
                 <span > Mark As Completed </span>
                </button>

                <button mdbBtn color="darkred" text="white" class="btn  btn-md btn-danger text-center"
                (click)="cancelBooking.show()">
                  <span>Cancel Booking </span>
                </button>
              </div>


              </section>
            </div>
      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="bookingOptions.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<!--cancel booking Modal-->
<div
  mdbModal
  #cancelBooking="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-hidden="true"


>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content"   *ngIf = "recievedBookings.length">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="cancelBooking.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          <mat-icon>service</mat-icon>Cancel Booking: {{ recievedBookings[0].booking_id}}
        </h4>
      </div>

      <div class="modal-body " style="height: 450px; overflow-y: auto;">
        <div class="inner-content pd-top-min-2 text-center">
          <p><b> Note: If you cancel this booking full paid amount of Rs. {{recievedBookings[0].amount_paid}} will be refund to the
            customer. 10% of the paid amount will be charged from you as a panely.
          </b></p>
          <hr>
        </div>
        <div class="pd-top-min-2" id="content">
          <h4><b>Cancellation Notice: </b> </h4>
          <p> Booking (Id: {{recievedBookings[0].booking_id}}) placed for
            {{recievedBookings[0].service_name }} from {{recievedBookings[0].from_date.slice(0,10)}} to
            {{ recievedBookings[0].to_date.slice(0,10)}}
          </p>
          <br>
          <h5>Reason for cancellation:</h5>
          <mat-form-field>
            <textarea matInput rows="4" placeholder="I will not provide service due to.."></textarea>
          </mat-form-field>

          <hr>
          <div class="btns text-center">
            <button class="btn btn-md" mdbBtn mdbWavesEffect color="secondary" style="margin:0 auto;">
            Confirm Cancellation</button>
          </div>
        </div>



      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="cancelBooking.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<!--Success Modal-->
<div mdbModal #bookingSuccess="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
 [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
 <div class="modal-dialog modal-notify modal-success modal-dialog-centered" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      <p class="heading lead">Booking Confirmed!</p>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bookingSuccess.hide()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>

    <!--Body-->
    <div class="modal-body">
      <div class="text-center">
        <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
        <p>Booking was confirmed Successfully!</p>
      </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="bookingSuccess.hide()">Okay
      </a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div >
