.pd-top{
  padding-top:5%;
}

.mt-icon{
  color:darkmagenta;
  font-weight:bold;
  font-size:28px;
}

.earn-text{
  text-align:left;
  font-weight:bold;
  font-size: 17px;
  color: darkslategray;
  display:flex;
  line-height: 40px;
}

.earn-amt{
  text-align:right;
  font-weight:bold;
  font-size: 36px;
  color: darkmagenta;

}

.earn-serve{
  text-align:right;
  font-weight:bold;
  font-size: 30px;
  color: darkslategray;

}

.scroll-text{
  text-align:right;
  font-weight:bold;
  font-size: 18px;
  color: darkgreen;

}

.cnt-center{
  margin:0 auto;
}

.pd-l{
  padding-left:10%;
  padding-right:10%;
}

.icon-center{
  margin:0 auto;
}
