<div class="pd-top-min">

  <h4 *ngIf="bookingType == 'pending'">
    <mat-icon>library_books</mat-icon>
   <b> Pending Bookings</b>
  </h4>
  <h4 *ngIf="bookingType == 'confirmed'">
    <mat-icon>check_circle</mat-icon>
   <b> Confirmed Bookings</b>
  </h4>
  <h4 *ngIf="bookingType == 'cancelled'" >
    <mat-icon>block</mat-icon>
   <b> Cancelled Bookings</b>
  </h4>
  <mat-form-field>

    <mat-label>
      <mat-icon>search</mat-icon>
      Search Bookings</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Photography">
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="recievedBookings.length">
    <table class="table-responsive" mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Booking ID </th>
        <td mat-cell *matCellDef="let row"> {{row.booking_id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="service_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Service Booked </th>
        <td mat-cell *matCellDef="let row"> {{row.service_name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="booked_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Booked Date </th>
        <td mat-cell *matCellDef="let row"> {{row.from_date}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Duration </th>
        <td mat-cell *matCellDef="let row" > {{row.duration}} {{row.duration == 1 ? ' Hrs' : ' Days'}} </td>
      </ng-container>

       <!-- Color Column -->
       <ng-container matColumnDef="amount_paid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Amount Paid </th>
        <td mat-cell *matCellDef="let row" > {{row.amount_paid}}  </td>
      </ng-container>


       <!-- Action Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ACTION </th>
        <td mat-cell *matCellDef="let row">
          <button mdbBtn color="purple" text="white" class="btn btn-sm text-center"
          (click)= "showBookingDetails(row.booking_id)" (click)="bookingOptions.show()">
            ACTION
          </button>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
  </div>

  <div class="text-center pd-top-min"  *ngIf="!recievedBookings.length">
    Nothing Booked Here
  </div>

  </div>



  <!--View Details Modal-->
  <div
    mdbModal
    #bookingOptions="mdbModal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myBasicModalLabel"
    [config]="{ backdrop: false, ignoreBackdropClick: true }"
    aria-hidden="true"


  >
    <div
      class="modal-dialog modal-dialog-centered modal-lg"
      role="document"
      style="overflow-y: initial !important"
    >
      <div class="modal-content"   *ngIf = "recievedBookings.length">
        <div class="modal-header">
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bookingOptions.hide()"
          >
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel" >
            <mat-icon>service</mat-icon>Booking: {{recievedBookings[0].booking_id}} Details
          </h4>
        </div>

        <div class="modal-body " style="height: 450px; overflow-y: auto;">

              <!--more info-->
              <div class="text-center">

                <section class="text-center dark-grey-text" *ngIf="!rateReview">
                  <!--booking info-->
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Boking ID
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].booking_id}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Service Name
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].service_name}}">
                    </div>
                  </div>
                  <div *ngIf="recievedBookings[0].duration > 1">
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Booked Date (from)
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].from_date}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Booked Date (to)
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].to_date}}">
                    </div>
                  </div>
                </div>

                <div *ngIf="recievedBookings[0].duration == 1">
                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Booked Date
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].from_date}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Booked Time (from)
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].from_time}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Booked Time (to)
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].to_time}}">
                    </div>
                  </div>
                </div>

                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      Duration
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].duration}} {{recievedBookings[0].duration == 1 ? 'Hrs' : 'Days'}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Event Assigned
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].event_id ? recievedBookings[0].event_id +' : ' + recievedBookings[0].event_name : 'No event Assigned'}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Created Date & Time
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].created_date + recievedBookings[0].created_time}}">
                    </div>
                  </div>

                  <hr>
                  <h5><b> Write a Review</b></h5>
                  <div class="row">
                    <div class="col-md-4 info-text">
                      My Reviews
                    </div>
                    <div class="col info-input">
                      <textarea type="text" matInput [disabled]= "!addReview" [value]=" recievedBookings[0].review ? recievedBookings[0].review : 'No Reviews Yet'"></textarea>
                      <br>
                      <button mdbBtn color="secondary"  class="btn  btn-sm" outline="yes" *ngIf="!addReview"
                      (click)= "addReview = !addReview">
                      <span > Add/ Edit Review </span>
                      </button>
                      <button mdbBtn color="primary"  class="btn  btn-sm" outline="yes" *ngIf="addReview"
                      (click)= "addReview = !addReview" (click)= "submitReview(recievedBookings[0].order_id,recievedBookings[0].review)">
                      <span > Save Changes </span>
                      </button>
                      <button mdbBtn color="red"  class="btn  btn-sm" outline="yes" *ngIf="addReview"
                      (click)= "addReview = !addReview">
                      <span > Discard </span>
                      </button>
                    </div>
                  </div>
                 <hr>
                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      State
                    </div>
                    <div class="col info-input-net">
                      <b><input type="text" matInput disabled value=" {{recievedBookings[0].state}}"></b>
                    </div>
                  </div>


                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Payment Type
                    </div>
                    <div class="col info-input">
                      <input type="text" matInput disabled value=" {{recievedBookings[0].payment_type}}">
                    </div>
                  </div>
                  <hr>

                  <div *ngIf="bookingType != 'cancelled'">
                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      Total Fee
                    </div>
                    <div class="col info-input-net">
                      <input type="text" matInput disabled value=" Rs. {{recievedBookings[0].amount}}">
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text-net">
                      Amount Paid
                    </div>
                    <div class="col info-input-net">
                      <b><input type="text" matInput disabled value=" Rs. {{recievedBookings[0].amount_paid}}"></b>
                    </div>
                  </div>

                  <div class="row " *ngIf="(recievedBookings[0].amount - recievedBookings[0].amount_paid) > 0">
                    <div class="col-md-4 info-text-net">
                      To be Paid
                    </div>
                    <div class="col info-input-net"  style="color:darkmagenta !important;">
                      <b><input type="text" matInput disabled value=" Rs. {{recievedBookings[0].amount - recievedBookings[0].amount_paid}}"></b>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="info-top"  >
                  <button mdbBtn color="purple" text="white" class="btn  btn-md text-center"
                  (click)= "rateReview = !rateReview">
                   <span > <mdb-icon fas icon="star"></mdb-icon> Rate & Review </span>
                  </button>

                  <button mdbBtn color="darkred" text="white" class="btn  btn-md btn-danger text-center"
                  *ngIf="recievedBookings[0].state == 'pending'">
                    <span>Cancel Booking </span>
                  </button>


                </div>

                </section>

                <div *ngIf="rateReview">
                  <app-rating-review [type]= "'service'" [id]= "recievedBookings[0].service_id"></app-rating-review>
                  <hr>
                  <div class="info-top"  >
                    <button mdbBtn color="purple" text="white" class="btn  btn-md text-center"
                    (click)= "rateReview = !rateReview">
                     <span > Go Back </span>
                    </button>
                    </div>
                </div>


              </div>


        </div>


        <div class="modal-footer">
          <button
            mdbBtn
            color="link"
            (click)="bookingOptions.hide()"
            mdbWavesEffect
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>


