
  <div class="pd-top-min">

    <h4 *ngIf="appointmentType == 'pending'">
      <mat-icon>library_books</mat-icon>
     <b> Requested Appointments</b>
    </h4>
    <h4 *ngIf="appointmentType == 'confirmed'">
      <mat-icon>check_circle</mat-icon>
     <b> Confirmed Appointments</b>
    </h4>
    <h4 *ngIf="appointmentType == 'cancelled'" >
      <mat-icon>block</mat-icon>
     <b> Cancelled Appointments</b>
    </h4>
    <mat-form-field>

      <mat-label>
        <mat-icon>search</mat-icon>
        Search your Appointments</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Reservation Hall">
    </mat-form-field>

    <div class="mat-elevation-z8" *ngIf="recievedAppointments.length">
      <table class="table-responsive" mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Appointed ID </th>
          <td mat-cell *matCellDef="let row"> {{row.appoint_id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="service_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Service Appointed </th>
          <td mat-cell *matCellDef="let row"> {{row.service_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="appointed_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Appointment Date </th>
          <td mat-cell *matCellDef="let row"> {{row.appointed_date}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="appointed_time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Appointed time </th>
          <td mat-cell *matCellDef="let row" > {{row.appointed_time}} </td>
        </ng-container>


        <!-- Progress Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > State </th>
          <td mat-cell *matCellDef="let row"> {{row.state}} </td>
        </ng-container>


         <!-- Action Column -->
         <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ACTION </th>
          <td mat-cell *matCellDef="let row">
            <button mdbBtn color="purple" text="white" class="btn btn-sm text-center"
            (click) = "showAppointmentDetails(row.appoint_id)" (click)="bookingOptions.show()">
              ACTION
            </button>
           </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
    </div>

    <div class="text-center pd-top-min"  *ngIf="!recievedAppointments.length">
      No Appointments Found
    </div>

    </div>



    <!--View Details Modal-->
    <div
      mdbModal
      #bookingOptions="mdbModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myBasicModalLabel"
      [config]="{ backdrop: false, ignoreBackdropClick: true }"
      aria-hidden="true"

    >
      <div
        class="modal-dialog modal-dialog-centered modal-lg"
        role="document"
        style="overflow-y: initial !important"
      >
        <div class="modal-content"  *ngIf = "recievedAppointments.length">
          <div class="modal-header">
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="bookingOptions.hide()"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel" >
              <mat-icon>service</mat-icon>Visit Appoinment: {{recievedAppointments[0].appoint_id}} Details
            </h4>
          </div>

          <div class="modal-body " style="height: 450px; overflow-y: auto;">

                <!--more info-->
                <div class="text-center">

                  <section class="text-center dark-grey-text">
                    <!--booking info-->
                    <div class="row ">
                      <div class="col-md-4 info-text">
                        Appointment ID
                      </div>
                      <div class="col info-input">
                        <input type="text" matInput disabled value=" {{recievedAppointments[0].appoint_id}}">
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-md-4 info-text">
                        Service Name
                      </div>
                      <div class="col info-input">
                        <input type="text" matInput disabled value=" {{recievedAppointments[0].service_name}}">
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-md-4 info-text">
                        Event Assigned
                      </div>
                      <div class="col info-input">
                        <input type="text" matInput disabled value=" {{recievedAppointments[0].event_id ? recievedAppointments[0].event_id +' : ' + recievedAppointments[0].event_name : 'No event Assigned'}}">
                      </div>
                    </div>


                    <div class="row ">
                      <div class="col-md-4 info-text">
                        Created Date & Time
                      </div>
                      <div class="col info-input">
                        <input type="text" matInput disabled value=" {{recievedAppointments[0].created_date.slice(0,10) + ' '
                        + recievedAppointments[0].creeated_date.slice(11,19) }}">
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-md-4 info-text">
                        Appointed Date
                      </div>
                      <div class="col info-input">
                        <input type="text" matInput disabled value=" {{recievedAppointments[0].appointed_date}}">
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-md-4 info-text-net">
                        Appointed Visit Time
                      </div>
                      <div class="col info-input">
                        <input type="text" matInput disabled value=" {{recievedAppointments[0].appointed_time}}">
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-md-4 info-text">
                        Comments
                      </div>
                      <div class="col info-input">
                        <textarea type="text" matInput disabled value=" {{recievedAppointments[0].comment}}"></textarea>
                      </div>
                    </div>
                    <hr>
                    <div class="row ">
                      <div class="col-md-4 info-text-net">
                        State
                      </div>
                      <div class="col info-input-net" style="color:darkmagenta;">
                        <b><input type="text" matInput disabled value=" {{recievedAppointments[0].state}}"></b>
                      </div>
                    </div>
                    <hr>
                    <!--pending bookings -->
                    <div class="info-top"  >

                    <button mdbBtn color="darkred" text="white" class="btn  btn-md btn-danger text-center"
                    *ngIf="recievedAppointments[0].state == 'pending'" (click)="cancelAppoints.show()">
                      <span>Send Cancel Request </span>
                    </button>

                  </div>

                  </section>
                </div>
          </div>

          <div class="modal-footer">
            <button
              mdbBtn
              color="link"
              (click)="bookingOptions.hide()"
              mdbWavesEffect
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>



<!--send cancel request Modal-->
<div
mdbModal
#cancelAppoints="mdbModal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="myBasicModalLabel"
[config]="{ backdrop: false, ignoreBackdropClick: true }"
aria-hidden="true"


>
<div
  class="modal-dialog modal-dialog-centered modal-lg"
  role="document"
  style="overflow-y: initial !important"
>
  <div class="modal-content"   *ngIf = "recievedAppointments.length">
    <div class="modal-header">
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="cancelAppoints.hide()"
      >
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" >
        <mat-icon>service</mat-icon>Send cancel reuest for Appointment: {{ recievedAppointments[0].appoint_id}}
      </h4>
    </div>

    <div class="modal-body " style="height: 450px; overflow-y: auto;">
      <div class="inner-content pd-top-min-2 text-center">
        <p><b> Note: Your request will be send to the relavant Service Provider. They will manually review and cancel your appointment.
          After cancellation you will notified.
          <br>
          Please mention a valid reason for your cancellation below.
        </b></p>
        <hr>
      </div>
      <div class="pd-top-min-2" id="content">
        <h4><b>Cancellation Notice: </b> </h4>
        <p> Bokking (Id: {{recievedAppointments[0].appoint_id}}) placed for
          {{recievedAppointments[0].service_name }} on {{recievedAppointments[0].apointed_date.slice(0,10)}}
        </p>
        <br>
        <h5>Reason for cancellation:</h5>
        <mat-form-field>
          <textarea matInput rows="4" placeholder="I will not provide service due to.."></textarea>
        </mat-form-field>

        <hr>
        <div class="btns text-center">
          <button class="btn btn-md" mdbBtn mdbWavesEffect color="secondary" style="margin:0 auto;">
          Send Request</button>
        </div>
      </div>



    </div>

    <div class="modal-footer">
      <button
        mdbBtn
        color="link"
        (click)="cancelAppoints.hide()"
        mdbWavesEffect
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>

