    .service-card {
        max-width: 230px;
        min-width: 220px;
    }

    .card-a{
        margin:10px;
    }
  
  .service-text {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    color: darkmagenta;
    text-align:center;
  }
  
  .service-holder {
    padding: 20px;
    margin:12px;
  }
  
  .service-select-heading {
    padding-top: 30px;
    color: darkslategray;
    font-weight: bold;
  }
  