<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <!--profile pic-->
    <div class="pd-img">
      <img src="./assets/images/merchant/user.jpg" alt="Merchant Pic" class="img-thumbnail " style="border-radius:50%;">
      <h5 class="txt-white pd-top-min text-center"> {{"Service Provider"}} </h5>
    </div>

    <mat-nav-list >
        <a class="txt-white row active-nav" mat-list-item *ngIf="home" routerLink="/sp/dash">
            <div class="col-md-11 side-start " >
              <mat-icon >home</mat-icon>
              <span class="side-text">  Home</span>
            </div>
            <div class="ol-md-1 side-end">
            <mat-icon >arrow_right</mat-icon>
          </div>
        </a>

        <a class="txt-white row" mat-list-item  *ngIf="!home" routerLink="/sp/dash">
          <div class="col-md-11 side-start " >
            <mat-icon >home</mat-icon>
            <span class="side-text">  Home</span>
          </div>
          <div class="ol-md-1 side-end">
          <mat-icon >arrow_right</mat-icon>
        </div>
      </a>

      <a class="txt-white row active-nav" mat-list-item  *ngIf="bProfile"  (click)="showSubMenu = !showSubMenu" routerLink="/sp/dash/bprofile">
        <div class="col-md-11 side-start">
          <mat-icon >business_centert</mat-icon>
          <span class="side-text">  Business Profile</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row" mat-list-item *ngIf="!bProfile" (click)="showSubMenu = !showSubMenu"  routerLink="/sp/dash/bprofile">
        <div class="col-md-11 side-start">
          <mat-icon >business_centert</mat-icon>
          <span class="side-text">  Business Profile</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>


      <a class="txt-white side-end" mat-list-item *ngIf="showSubMenu" (click)="serviceDetailsShow.show()">
        <mat-icon>add</mat-icon>
        Add New Service
      </a>

      <a class="txt-white row active-nav" mat-list-item  *ngIf="booking"  routerLink="/sp/dash/bookings">
        <div class="col-md-11 side-start">
          <mat-icon >bookmarks</mat-icon>
          <span class="side-text">  Bookings</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row" mat-list-item *ngIf="!booking"  routerLink="/sp/dash/bookings">
        <div class="col-md-11 side-start">
          <mat-icon >bookmarks</mat-icon>
          <span class="side-text">  Bookings</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>


      <a class="txt-white row active-nav" mat-list-item  *ngIf="appointment" outerLink="/sp/dash/appoints">
        <div class="col-md-11 side-start">
          <mat-icon >phone_locked</mat-icon>
          <span class="side-text">  Appointments</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row" mat-list-item *ngIf="!appointment"  routerLink="/sp/dash/appoints">
        <div class="col-md-11 side-start">
          <mat-icon >phone_locked</mat-icon>
          <span class="side-text">  Appointments</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row active-nav" mat-list-item *ngIf="calendar"  routerLink="/sp/dash/calendar">
        <div class="col-md-11 side-start">
          <mat-icon >calendar_today</mat-icon>
          <span class="side-text">  Booking Calendar</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row" mat-list-item *ngIf="!calendar" routerLink="/sp/dash/calendar">
        <div class="col-md-11 side-start">
          <mat-icon >calendar_today</mat-icon>
          <span class="side-text">  Booking Calendar</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row active-nav" mat-list-item *ngIf="report"  routerLink="/sp/dash/reports">
        <div class="col-md-11 side-start">
          <mat-icon >library_books</mat-icon>
          <span class="side-text">  Report Wizard</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row" mat-list-item *ngIf="!report"  routerLink="/sp/dash/reports">
        <div class="col-md-11 side-start">
          <mat-icon >library_books</mat-icon>
          <span class="side-text">  Report Wizard</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row active-nav" mat-list-item *ngIf="profile" routerLink="/sp/dash/profile">
        <div class="col-md-11 side-start">
          <mat-icon >perm_identity</mat-icon>
          <span class="side-text">  My Profile</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>


      <a class="txt-white row" mat-list-item *ngIf="!profile"  routerLink="/sp/dash/profile">
        <div class="col-md-11 side-start">
          <mat-icon >perm_identity</mat-icon>
          <span class="side-text">  My Profile</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <!--dashboard content-->
  <mat-sidenav-content>
    <mat-toolbar color="purple">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Howday! {{"Service Provider"}}</span>
    </mat-toolbar>

    <!--dashboard content-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
      <!--<app-dash-home *ngIf="home"></app-dash-home>
      <app-dash-business-profile *ngIf="bProfile"></app-dash-business-profile>
      <app-dash-bookings *ngIf="booking"></app-dash-bookings>
      <app-dash-appointments *ngIf="appointment"></app-dash-appointments>
      <app-dash-calendar *ngIf="calendar"></app-dash-calendar>
      <app-dash-reports *ngIf="report"></app-dash-reports>
      <app-dash-profile *ngIf="profile"></app-dash-profile>-->
    </div>
    <!--end dashboard content-->
  </mat-sidenav-content>
</mat-sidenav-container>





<!--View Service Modal-->
<div
  mdbModal
  #serviceDetailsShow="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-hidden="true"

>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="serviceDetailsShow.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          <mat-icon>add</mat-icon> Create New Service
        </h4>
      </div>

      <div class="modal-body " style="height: 450px; overflow-y: auto;">

        <app-addnew-service></app-addnew-service>

      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="serviceDetailsShow.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
