

.full-width-ex{
  width:100%;
  margin:0px !important;
}

.top-content{
  padding-top:30px;
  padding-bottom:15px;
}

.info-box{
  border:2px solid;
  border-color:gray;
  border-radius:12px;
  margin:12px;
  padding:10px;
}

.item-des{
  color:darkred;
  font-weight:bold;
  text-align:right;
}

.item-title{
  font-weight:bold;
  font-size:20px;
}


.service-full-width {
  width: 100%;
}

.service-full-width-sm {
  width: 75%;
}

.center-txt{
  text-align:center !important;
}

.img-cls{
  width:80%;
  max-width:200px;
  margin:0 auto;
}

.txt-title{
  line-height:400%;
  font-weight:bold;
  font-size:200%;
  color:white;
}

.content-title{
  font-weight:bold;
  font-size: 32px;
  text-align:left;
  padding-top:15px;
}

.content-text{
  text-align:justify;
  padding:10px;
}

.state-text{
  font-weight:bold;
}

.open-state{
  color:darkred;
  font-weight:bold;
}

.feature-img{
  width: 100%;
  height:300px;
}

.category{
  padding-top:20px;
  white-space:20px;
  padding-bottom:10px;
}

.open-stat{
  color:darkgreen;
  white-space:20px;
  font-weight:bold;
}

.info-dates{
  text-align:right;
}

.info-dates-2{
  text-align:right;
}

.invite-wrap{
  border:2px solid;
  border-radius: 7px;
  margin:10px;
  padding:18px;
  border-color:lightgray;
}


.participant{
  border:2px solid;
  margin:8px;
  padding:18px;
  border-color:lightgray;
  font-weight:bold;
  color:darkslategray;
  line-height:22px;
}
