<div class="container-fluid pd-top-min">

  <h4>
    <mat-icon>money</mat-icon>
    <b>
    Your Payments
  </b></h4>
  <hr>
  <div class="pay-amt">
    $ {{'22.56'}}
  </div>
  <p class="overdue">payment is overdule!!</p>
  <div class="pay-text">
    <span>Payment Due by </span>
  <br>
  <span class="pay-date"> 22/03/2020</span>
  </div>
  <div class="pay-btn">
    <button mdbBtn color="secondary" mdbWavesEffect class="btn btn-md" class="button">
      Make Payment
    </button>
  </div>
  <hr>
</div>
