<div class="container-fluid pd-top">

<!--title-->
<h4 class="pd-top">
  <mat-icon>show_chart</mat-icon>
 <b> Business Statistics</b>
</h4>
<hr>
<section class="text-center dark-grey-text">




  <!--if stat not available-->
  <div class="row pd-top text-center" *ngIf="!iscreated">
  <p class=" mx-auto mb-2 pb-2 pd-l">
    Businss Statistics aren't available. Create a Businss Profile first!
  </p>
  <a mdbWavesEffect class="icon-center">
    <mat-icon class="pd-top mt-icon">refresh</mat-icon>
  </a>
  </div>

  <!--if stat available-->
  <div class="container-fluid" *ngIf="iscreated">
      <!--earnings-->
    <div class="row">
      <div class="col-md-7 earn-text">
        Total Earnings:
      </div>
      <div class="col earn-amt">
        $ {{'0.00'}}
      </div>
    </div>

    <div class="row pd-top" >
      <div class="col-md-7 earn-text">
        Active Services:
      </div>
      <div class="col earn-serve">
         {{'0'}}
      </div>
    </div>
    <div class="row pd-top ">
      <button mdbBtn mdbWavesEffect role="buton" class="btn btn-secondary btn-md cnt-center" (click)="earnings.show()">
        View All Earnings
      </button>
    </div>
    <hr>
    <div class="row" >
      <div class="col earn-text">
        Business Performance:
      </div>
    </div>
      <div class="row pd-top container-fluid">
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="scroll-text pd-top">
        3.5+ Good
      </div>
      <div class="row pd-top pd-top">
        <button mdbBtn mdbWavesEffect role="buton" class="btn btn-primary btn-md cnt-center ">
          Boost My Business
        </button>
      </div>

  </div>

</section>

</div>



<!--View Earnings Modal-->
<div
  mdbModal
  #earnings="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  [config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-hidden="true"

>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="earnings.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" >
          <mat-icon>money</mat-icon> Your earnings
        </h4>
      </div>

      <div class="modal-body " style="height: 400px; overflow-y: auto;">

        <app-earnings></app-earnings>

      </div>

      <div class="modal-footer">
        <button
          mdbBtn
          color="link"
          (click)="earnings.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
