<div class="pd-top-min">

  <h4>
    <mat-icon>airport_shuttle</mat-icon>
   <b> Delivery Services</b>
  </h4>
 <br>
   <div class="row">
    <div class="col-md-7">
      <p class="add-service-p">Add new Delivery Service </p>
    </div>
    <div class="col-md-4">
      <a type="button" mdbBtn color="secondary" class="waves-light btn btn-md  cust-btn"
      (click)="addnew = !addnew" mdbWavesEffect (click)="deliveryOptions.show()">Add New
      </a>
    </div>
  </div>
  <hr>
  <mat-form-field>
    <mat-label>
      <mat-icon>search</mat-icon>
      Delivery Services</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. DHL" >
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="hasData()">
    <table class="table-responsive" mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Service ID </th>
        <td mat-cell *matCellDef="let row"> {{row.delivery_service}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Rate(Rs.) </th>
        <td mat-cell *matCellDef="let row"> {{row.delivery_rate}} </td>
      </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="hotline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Hotline </th>
          <td mat-cell *matCellDef="let row"> {{row.hotline}} </td>
        </ng-container>



       <!-- Action Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ACTION </th>
        <td mat-cell *matCellDef="let row">
          <button mdbBtn color="purple" text="white" class="btn btn-sm text-center" (click)="deliveryOptions.show()">
            ACTION
          </button>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
  </div>

  <div class="text-center pd-top-min"  *ngIf="!hasData()">
    No Dervices Found
  </div>

  </div>



  <!--View Details Modal-->
  <div
    mdbModal
    #deliveryOptions="mdbModal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myBasicModalLabel"
    [config]="{ backdrop: false, ignoreBackdropClick: true }"
    aria-hidden="true"


  >
    <div
      class="modal-dialog modal-dialog-centered modal-md"
      role="document"
      style="overflow-y: initial !important"
    >
      <div class="modal-content" *ngIf="hasData()">
        <div class="modal-header">
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="deliveryOptions.hide()"
            (click)="addnew = false && editmode = false"
          >
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"  *ngIf="!editmode && !addnew">
             {{deliveryServices[0].title}} Details
          </h4>

          <h4 class="modal-title w-100" id="myModalLabel"  *ngIf="editmode && !addnew">
             Edit {{deliveryServices[0].title}} Details
          </h4>

          <h4 class="modal-title w-100" id="myModalLabel"  *ngIf="addnew">
            Add new Delivery Service
         </h4>
        </div>
        <form>
        <div class="modal-body " style="height: 450px; overflow-y: auto;">

              <!--more info-->
              <div class="text-center">

                <section class="text-center dark-grey-text">
                  <!--booking info-->
                  <div class="row " *ngIf="!addnew">
                    <div class="col-md-4 info-text">
                      Service ID:
                    </div>
                    <div class="col info-input">
                      <mat-form-field >
                      <input type="text" matInput disabled value="{{deliveryServices[0].delivery_service}}">
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="text-center" *ngIf="addnew">
                    <p>Enter Delivery Service details below..</p>
                    <hr>
                  </div>

                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Service Name:
                    </div>
                    <div class="col info-input">
                      <mat-form-field *ngIf="!addnew">
                      <input type="text" matInput [disabled]="!editmode"  value="{{deliveryServices[0].title}}">
                      </mat-form-field>
                      <mat-form-field *ngIf="addnew">
                        <input type="text" matInput  value="" placeholder="enter delivery service name">
                      </mat-form-field>
                    </div>
                  </div>


                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Address:
                    </div>
                    <div class="col info-input">
                      <mat-form-field *ngIf="!addnew">
                      <textarea matInput  [disabled]="!editmode"  value="{{deliveryServices[0].address}}" rows="3">
                      </textarea>
                    </mat-form-field>
                    <mat-form-field *ngIf="addnew">
                      <textarea matInput  value="" rows="3" placeholder="enter delivery service business address">
                      </textarea>
                    </mat-form-field>
                    </div>
                  </div>


                  <div class="row ">
                    <div class="col-md-4 info-text">
                      Hotline:
                    </div>
                    <div class="col info-input">
                    <mat-form-field *ngIf="!addnew">
                      <input type="string" matInput  [disabled]="!editmode"  value="{{deliveryServices[0].hotline}}">
                    </mat-form-field>
                    <mat-form-field *ngIf="addnew">
                      <input type="string" matInput value="" >
                    </mat-form-field>
                    </div>
                  </div>

                  <div class="row " >
                    <div class="col-md-4 info-text">
                      Delivery Time(Days):
                    </div>
                    <div class="col-md-6 info-input">
                     <div class="row">
                       <div class="col-md-3">
                        <mat-form-field *ngIf="!addnew">
                          <input type="number" matInput  [disabled]="!editmode"
                          value=" {{deliveryServices[0].min_delivery_time}}"  >
                        </mat-form-field>
                        <mat-form-field *ngIf="addnew">
                          <input type="number" matInput
                          value=""  >
                        </mat-form-field>
                       </div>
                       <div class="col-md-2">
                        <p class="days-mid">To</p>
                     </div>
                       <div class="col-md-3">
                        <mat-form-field *ngIf="!addnew">
                          <input type="number" matInput  [disabled]="!editmode"
                          value=" {{deliveryServices[0].max_delivery_time}}"  >
                        </mat-form-field>
                        <mat-form-field *ngIf="addnew">
                          <input type="number" matInput
                          value=""  >
                        </mat-form-field>
                       </div>
                       <div class="col-md-2">
                        <p class="days-mid">Days</p>
                     </div>
                     </div>

                    </div>
                  </div>

                  <hr>

                  <div class="row " >
                    <div class="col-md-4 info-text">
                      Fee (Rs):
                    </div>
                    <div class="col info-input">
                    <mat-form-field *ngIf="!addnew">
                      <b><input type="number" matInput  [disabled]="!editmode"  value="{{deliveryServices[0].delivery_rate}}"></b>
                    </mat-form-field>
                    <mat-form-field *ngIf="addnew">
                      <b><input type="number" matInput  value=""></b>
                    </mat-form-field>
                    </div>
                  </div>




                  <div class="text-center" *ngIf="!editmode && !addnew">
                    <hr>
                    <button mdbBtn color="secondary" text="white" class="btn  btn-md text-center"
                     (click)= "editmode = !editmode" >
                     <span > Edit Service </span>
                    </button>
                  </div>

                  <div class="text-center" *ngIf="editmode && !addnew">
                    <hr>
                    <button mdbBtn color="secondary" text="white" class="btn  btn-md text-center" (click)= "editmode = !editmode">
                     <span > Save Changes </span>
                    </button>

                    <button mdbBtn color="secondary" outline="yes" text="white" class="btn  btn-md text-center" (click)= "editmode = !editmode">
                        <span>Discard</span>
                      </button>
                  </div>




                </section>
              </div>
        </div>

        <div class="modal-footer text-center" *ngIf="addnew">
          <button mdbBtn color="secondary" text="white" class="btn  btn-md text-center" (click)= "addnew = !addnew" (click)="deliveryOptions.hide()">
           <span > Add Service </span>
          </button>

          <button mdbBtn color="secondary" outline="yes" text="white" class="btn  btn-md text-center" (click)= "addnew = !addnew" (click)="deliveryOptions.hide()">
              <span>Discard</span>
            </button>
        </div>

      <div class="modal-footer" *ngIf="!addnew">

        <button
          mdbBtn
          color="link"
          (click)="deliveryOptions.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
      </form>
      </div>
    </div>
  </div>


  <!--Success Modal-->
  <div mdbModal #bookingSuccess="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
   [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
   <div class="modal-dialog modal-notify modal-success modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Inventory Updated!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bookingSuccess.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>New Inventory {{24}} has been updated!</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="bookingSuccess.hide()">Okay
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
  </div >
