<div class="row stat-cards">
  <!--Booking Requests-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <mat-card-body>
      <div  class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 br-back stat-num">
          <span class="stat-no">
            {{dashStat[0].pending_orders}}
          </span>
        </div>

        <div class="col-md-9 stat-text">

          <span class="stat-title">
            New Orders
          </span>
          <hr />
          Latest order on:
          <br />
          <span class="date-text">{{dashStat[0].last_order_date}}</span>
        </div>
      </div>
    </mat-card-body>
    </mdb-card>
    <!-- Card -->
  </div>

  <!--Appointment Requests-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <div class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 ar-back stat-num">
          <span class="stat-no">
            {{dashStat[0].to_delivery_orders}}
          </span>
        </div>

        <div class="col-md-9 stat-text">
          <span class="stat-title">
            To be Delivered
          </span>
          <hr />
            Next delivery on:
          <br />
          <span class="date-text">{{dashStat[0].next_delivery_date}}</span>
        </div>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>

  <!--confirmed Bookings-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <div class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 cb-back stat-num">
          <span class="stat-no">
            {{dashStat[0].completed_orders}}
          </span>
        </div>

        <div class="col-md-9 stat-text">
          <span class="stat-title">
            Delivered Orders
          </span>
          <hr />
          Last delivery on:
          <br />
          <span class="date-text">{{dashStat[0].last_completed_date}}</span>
        </div>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>

  <!--earnings-->
  <div class="col-md-3">
    <!-- Card -->
    <mdb-card class="stat-card">
      <div class="row rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card no -->
        <div class="col-md-3 col-sm-3 col-xs-3 er-back stat-num">
          <span class="stat-no">
            {{dashStat[0].inventory}}
          </span>
        </div>

        <div class="col-md-9 stat-text">
          <span class="stat-title">
            Total Inventory
          </span>
          <hr />
          Latest Modified:
          <br />
          <span class="date-text">{{dashStat[0].lasT_modified_date}}</span>
        </div>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>
</div>
