
mat-sidenav-content{
  background-color: #fff;
}

.txt-white{
  color:#fff !important;
}

.txt-white:hover{
  color:rgb(212, 212, 212);
}



.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav{
  background-color: rgb(78, 7, 110);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.pd-top{
  padding-top:10%;
}

.pd-img{
  padding-left:60px;
  padding-right:60px;
  padding-top:90px;
  padding-bottom:20px;
}

.pd-top-min{
  padding-top:5%;
}

.side-start{
  text-align:left;
}

.side-end{
  text-align:right;
}

.side-text{
  vertical-align:top;
}

.active-nav{
  font-weight:bold;
  background-color:rgb(129, 9, 133);
  color:darkseagreen;
}
