<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <!--profile pic-->
    <div class="pd-img">
      <img [src]="headerDetails ? headerDetails.profilePic: './assets/images/headerDetails/nopic.png'"  alt="headerDetails Pic" class="img-thumbnail " style="border-radius:50%;">
      <h5 class="txt-white pd-top-min text-center"> {{headerDetails ? headerDetails.userName: 'Loading..' }}  </h5>
    </div>

    <mat-nav-list >
        <a class="txt-white row" mat-list-item [ngClass] ="home"
        (click)="navHome()" routerLink="/admin">
            <div class="col-md-11 side-start " >
              <mat-icon >home</mat-icon>
              <span class="side-text">  Home</span>
            </div>
            <div class="ol-md-1 side-end">
            <mat-icon >arrow_right</mat-icon>
          </div>
        </a>

      <a class="txt-white row" mat-list-item  [ngClass] ="payments"
      (click)="navPayments()"  routerLink="/admin/payments">
        <div class="col-md-11 side-start">
          <mat-icon >business_centert</mat-icon>
          <span class="side-text">  Manage Payments</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>


      <a class="txt-white row" mat-list-item  [ngClass] ="users"
      (click)="navUsers()" routerLink="/admin/users" >
        <div class="col-md-11 side-start">
          <mat-icon >account_circle</mat-icon>
          <span class="side-text">  Manage Users</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>



      <a class="txt-white row" mat-list-item [ngClass] ="verify"
      (click)="navVerify()" routerLink="/admin/verify">
        <div class="col-md-11 side-start">
          <mat-icon >bookmarks</mat-icon>
          <span class="side-text"> Verifications</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

      <a class="txt-white row" mat-list-item [ngClass] ="categories"
      (click)="navCategories()" routerLink="/admin/categories">
        <div class="col-md-11 side-start">
          <mat-icon >list</mat-icon>
          <span class="side-text">  Update & Backup</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>


      <a class="txt-white row" mat-list-item [ngClass] ="reports"
      (click)="navReports()" routerLink="/admin/reports" >
        <div class="col-md-11 side-start">
          <mat-icon >library_books</mat-icon>
          <span class="side-text">  Report Wizard</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>


      <a class="txt-white row" mat-list-item [ngClass] ="profile"
      (click)="navProfile()" routerLink="/admin/profile">
        <div class="col-md-11 side-start">
          <mat-icon >perm_identity</mat-icon>
          <span class="side-text">  My Profile</span>
        </div>
        <div class="ol-md-1 side-end">
        <mat-icon >arrow_right</mat-icon>
      </div>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <!--dashboard content-->
  <mat-sidenav-content>
    <mat-toolbar color="purple">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Good day! {{ headerDetails ? headerDetails.userName: 'Loading..'}} </span>
    </mat-toolbar>

    <!--dashboard content-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!--end dashboard content-->
  </mat-sidenav-content>
</mat-sidenav-container>


