
  <mdb-card>
  <mdb-card-header class="purple white-text text-center py-4">
    <h2>
      You are Almost Done!
    </h2>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">
    <!-- Form -->
    <form style="color: #757575;" (submit)="signupUser(signupform)" #signupform="ngForm">
      <br />
      <div class="text-center p-md-3">
        <p>Fill below details to continue Sign Up as a Merchant..</p>
      </div>

      <div class="text-center">
        <mat-form-field class="mfield">
          <mat-label>Your Business Type</mat-label>
          <mat-select
          required
          name="user_type"
          #merchantSelect="ngModel"
          ngModel>
            <mat-option value="serviceProvider">
              <mat-icon aria-label="">emoji_people</mat-icon>
              Service Provider</mat-option
            >
            <mat-option value="seller">
              <mat-icon aria-label="">cake</mat-icon>
              Product Seller</mat-option
            >
          </mat-select>
          <mat-error *ngIf="merchantSelect.invalid">Select Business Type</mat-error>
        </mat-form-field>

        <mat-form-field class="mfield">
          <input matInput
          placeholder="Your NIC"
          required
          pattern="^([0-9]{9}[x|X|v|V]|[0-9]{12})$"
          name="nic"
          #nic="ngModel"
          ngModel />
          <mat-error *ngIf="nic.invalid">Please Provide a valid NIC</mat-error>
        </mat-form-field>

        <mat-form-field class="mfield">
          <mat-label>Your Gender</mat-label>
          <mat-select
          required
          name="gender"
          #gender="ngModel"
          ngModel>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="none">Prefer Not to Say</mat-option>
          </mat-select>
          <mat-error *ngIf="gender.invalid">Please Select your Gender</mat-error>
        </mat-form-field>

        <mat-form-field class="mfield">
          <mat-label>Your BirthDay</mat-label>
          <input matInput
          [matDatepicker]="picker"
          required
          name="birthday"
          #birthDay="ngModel"
          ngModel
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthDay.invalid">Please Select your BirthDay</mat-error>
        </mat-form-field>

        <mat-form-field class="mfield">
          <input matInput type="text" placeholder="Address Line 1"
          required
          name="address1"
          #address1="ngModel"
          ngModel>
          <mat-error *ngIf="address1.invalid">Your address is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="mfield">
          <input matInput type="text"
          placeholder="Address Line 2"
          name="address2"
          ngModel>
        </mat-form-field>
          <br>
          <mat-form-field class="mfield">
          <input matInput type="number"
          placeholder="Postal/Zip Code"
          required
          maxlength="6"
          name="postalCode"
          #postalCode ="ngModel"
          ngModel
          >
          <mat-error *ngIf="postalCode.invalid">Postal code is required</mat-error>
        </mat-form-field>
      </div>

      <hr />
      <!--
      <div class="text-center">
        <mdb-card-title>
          <h4>Verify Your Identity</h4>
        </mdb-card-title>
        <mdb-card-text
          >To be eligible to Create Buniess Profile and add products or
          services, you must verify your Identity first.<br />
          You may verify your Identity now or later in the
          <b>profile section</b>.</mdb-card-text
        >
        <a mdbBtn color="secondary" mdbWavesEffect outline="true" (click)="basicModal.show()">Verify Identity</a>
      </div>
      <hr />-->

      <!-- Sign up complete button -->
      <button
        mdbBtn
        color="purple"
        rounded="true"
        block="true"
        mdbWavesEffect
        type="submit"
      >
        Complete Sign Up
      </button>

      <hr />
      <div class="text-center">
        <!-- Terms of service -->
        <p>
          By clicking <em>Sign up</em> you agree to our
          <a href="" routerLink="/terms">Merchants' terms of service</a>
        </p>
      </div>
    </form>
    <!-- Form -->
  </mdb-card-body>
</mdb-card>



<!--Identity Verify Modal-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="overflow-y: initial !important">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Verify your Identity</h4>
      </div>
      <div class="modal-body " style="height: 500px; overflow-y: auto;">
        <app-id-verify ></app-id-verify>
      </div>
      <div class="modal-footer">
        <button  mdbBtn color="link" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>
