<!--header row-->
<app-dash-stat [(bookingCounts)] = "bookingCounts" (datesEmit) = "setAppointDates($event)"></app-dash-stat>


<!--component row-->
<div class="row">

  <!--left component-->
  <div class="col-md-8">
    <app-bookings (countEmit) = "setCounts($event)" (datesEmit)= "setDates($event)"></app-bookings>
  </div>

  <!--right component-->
  <div class="col-md-4">
    <app-pay-stat></app-pay-stat>
    <br>
   <app-bookings-graph [(bookingMonths)] = "bookingDates" [(appointMonths)] = "appointDates"></app-bookings-graph>
  </div>

</div>
<!--end component row-->
