.pd-t{
  padding-top: 15px;
  width:100%;
}

@media only screen and (max-width: 600px){
  .pd-t{
    width:100%;
  }

}
.pd-top{
  padding-top:40px;
}

.pd-top-min{
  padding-top:25px;
}

.pd-t{
  padding-top: 15px;
}
